<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookshelf-add">Bookshelf modal</button>

<div id="bookshelf-add" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bookshelfAdd">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="bookshelfAddLabel">Bookshelfs</h4>
            </div>
            <div class="modal-body">
                <form action="#" method="get" name="bookshelf">
                    <div class="form-group">
                        <input type="text" class="form-control" id="bookshelf-title" placeholder="Add to a bookshelf" autocomplete="off" list="bookshelfs-list" data-article-id="{{ article.id }}" >
                        <datalist id="bookshelfs-list">
                            {% for bookshelf in bookshelfs %}
                                {% if not bookshelf.hasArticle(article.id) %}
                                    <option value="{{ bookshelf.title }}" data-bookshelf-id="{{ bookshelf.id }}"></option>
                                {% endif %}
                            {% endfor %}
                        </datalist>
                    </div>
                    <table class="table table-condensed table-hover" id="bookshelf-current" data-article-id="{{ article.id }}">
                        <tbody>
                        {% for bookshelf in bookshelfs %}
                            {% if bookshelf.hasArticle(article.id) %}
                                <tr class="bookshelf-current-list" data-bookshelf-id="{{ bookshelf.id }}">
                                    <td>
                                        <i class="fa fa-book"></i>
                                        {{ bookshelf.title }}
                                        <a href="#" role="button" class="btn btn-default btn-xs pull-right btn-bookshelf-remove" data-toggle="tooltip" data-placement="right" title="Remove">
                                            <span aria-hidden="true">&times;</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>