{% extends 'InckArticleBundle::layout.html.twig' %}

{% trans_default_domain 'ArticleBundle' %}

{% block title %}
    {% if action == 'add' %}
        {{ 'article.form.add_booskshelf'|trans }}
    {% else %}
        {{ 'article.form.edit_article'|trans }}
    {% endif %}
{% endblock %}

{% block description %}
    {% if action == 'add' %}
        <meta name="description" content="Partager un article en quelques cliques, il n'y a rien de plus simple !">
    {% endif %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'article.form.add_booskshelf'|trans }}</h1>
            <p>{{ 'article.form.write_bookshelf'|trans }}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
