{% extends 'InckArticleBundle::layout.html.twig' %}

{% trans_default_domain 'ArticleBundle' %}

{% block title %}
    {% if action == 'add' %}
        {{ 'bookshelf.form.add.title'|trans }}
    {% else %}
        {{ 'bookshelf.form.edit.title'|trans }}
    {% endif %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            {% if action == 'add' %}
                <h1>{{ 'bookshelf.form.add.title'|trans }}</h1>
                <p>{{ 'bookshelf.form.add.description'|trans }}</p>
            {% else %}
                <h1>{{ 'bookshelf.form.edit.title'|trans }}</h1>
                <p>{{ 'bookshelf.form.edit.description'|trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
