{% extends 'InckArticleBundle::layout.html.twig' %}

{% trans_default_domain 'ArticleBundle' %}

{% block title %}
    {{ 'bookshelf.show.title'|trans }}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>
                {{ bookshelf.title }}

                <sup>
                    <small>
                    {% if bookshelf.share %}
                        <span class="label label-success">{{ "bookshelf.show.public"|trans }}</span>
                    {% else %}
                        <span class="label label-primary">{{ "bookshelf.show.private"|trans }}</span>
                    {% endif %}
                    </small>
                </sup>
            </h1>
            <p>
                {{ bookshelf.description }}
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">

    </div>
{% endblock %}
