{% extends 'InckArticleBundle::layout.html.twig' %}

{% trans_default_domain 'ArticleBundle' %}

{% block title %}
    {{ 'bookshelf.show.title'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/user/profile/preview.css'
    'bundles/inckarticle/css/Article/score.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>
                {{ bookshelf.title }}

                <sup>
                    <small>
                    {% if bookshelf.share %}
                        <span class="label label-success">{{ "bookshelf.show.public"|trans }}</span>
                    {% else %}
                        <span class="label label-primary">{{ "bookshelf.show.private"|trans }}</span>
                    {% endif %}
                    </small>
                </sup>
            </h1>
            <p>
                {{ bookshelf.description }}
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="timeline" class="container">
        {% include 'InckArticleBundle:Article:filter.html.twig' with { 'articles': bookshelf.articles, 'totalArticles': bookshelf.articles|length, 'totalPages': 1 } %}
    </div>
{% endblock %}
