{% extends 'InckArticleBundle::layout.html.twig' %}

{% trans_default_domain 'ArticleBundle' %}

{% block title %}
    {{ 'bookshelf.show.title'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/article/bookshelf/preview.css'
    'bundles/inckarticle/css/Article/score.css'
    'bundles/inckarticle/css/Bookshelf/modal.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{# Setting variables#}
{% set gravatar = gravatar(bookshelf.user.email, 25, true) %}

{% block header %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>
                {{ bookshelf.title }}

                <sup>
                    <small>
                    {% if bookshelf.share %}
                        <span class="label label-success">{{ "bookshelf.show.public"|trans }}</span>
                    {% else %}
                        <span class="label label-primary">{{ "bookshelf.show.private"|trans }}</span>
                    {% endif %}
                    </small>
                </sup>
            </h1>
            <h2>
                {{ bookshelf.description }}
            </h2>
            <p>
                {% if bookshelf.user == app.user %}
                <a href="{{ path('inck_article_bookshelf_edit', {'id': bookshelf.id}) }}" class="btn btn-inverse"><i class="fa fa-pencil-square-o"></i> {{ 'bookshelf.show.edit'|trans }}</a>
                {% else %}
                <a href="{{ path('fos_user_profile_preview', {'username': bookshelf.user.username}) }}" class="btn btn-inverse"><i class="fa fa-user"></i> {{ 'bookshelf.show.see_profile'|trans({"%user%": bookshelf.user.fullname}) }}</a>
                {% endif %}
                {#<a href="#" class="btn btn-inverse"><i class="fa fa-play"></i> {{ 'bookshelf.show.launch_bookshelf'|trans }}</a>#}
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="timeline" class="container">
        {% if bookshelf.articles|length == 0 %}
            <div class="alert alert-info" role="alert">
                {{ "bookshelf.show.no_articles"|trans }}
            </div>
        {% endif %}
        {% include 'InckArticleBundle:Article:filter.html.twig' with { 'articles': bookshelf.articles, 'totalArticles': bookshelf.articles|length, 'totalPages': 1 } %}
    </div>
    {% if is_granted('ROLE_USER') %}
        {% include "InckArticleBundle:Bookshelf:add_modal.html.twig"%}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output='js/compiled/article/bookshelf/show.js'
    'bundles/inckarticle/js/Bookshelf/modal.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
