{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {% if form_errors(form) %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.current_password) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.plainPassword.first) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.plainPassword.second) }}
        </div>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>

    <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
</form>