{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {% if form_errors(form) or form_errors(form.plainPassword.first) %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.plainPassword.first) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.plainPassword.second) }}
        </div>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>

    <input class="btn btn-success" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
</form>
