{% extends 'InckCoreBundle::layout.html.twig' %}
{% trans_default_domain 'CoreBundle' %}

{% block title %}{{ status_code }} {{ status_text }}{% endblock %}

{% block navbar %}
    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <li class="first-child">
                            <a href="{{ path('inck_article_article_new') }}">
                                <i class="fa fa-pencil fa-lg fa-fw"></i>
                                {{ 'view.layout.write_article'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('inck_article_article_moderate') }}">
                                <i class="fa fa-thumbs-up fa-lg fa-fw"></i>
                                {{ 'view.layout.modify_article'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('inck_article_category_list') }}">
                                <i class="fa fa-tags fa-lg fa-fw"></i>
                                {{ 'view.layout.catagories'|trans }}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </li>
        <li class="brand">
            <a class="{% if currentRoute == 'home' %}active{% endif %}" href={{ path('home') }}>
                <i class="fa fa-home"></i>
                Inck
            </a>
        </li>
        <li class="search pull-right">
            <form class="navbar-form" action="{{ path('inck_article_article_search') }}" method="get">
                <div class="input-group">
                    <input class="form-control" placeholder="{{ 'view.layout.search'|trans }}" type="search" name="q">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search fa-fw"></i></button>
                    </span>
                </div>
            </form>
        </li>
    </ul>
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12" itemscope itemtype="http://schema.org/Website" >
                    <h1>{{ status_code }} {{ status_text }}</h1>
                    {% block subtitle %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
