{% trans_default_domain 'FOSUserBundle' %}

<div class="media">
    <div class="pull-left">
        {% image '@InckUserBundle/Resources/public/images/trash.png' %}
        <img src="{{ asset_url|apply_filter('article_featured') }}" class="media-object" alt="Image par défaut"/>
        {% endimage %}
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            {% if activity.title is not null %}
                {{ activity.title }}
            {% else  %}
                {{ 'user.activity.article.delete.title'|trans }}
                {{ activity.articleTitle }}
            {% endif %}
        </h4>
        <p>
            {% if activity.content is not null %}
                {{ activity.content }}
            {% else  %}
                {{ 'user.activity.article.delete.content'|trans({'%article%': activity.articleTitle, '%date%': activity.createdAt|date('d/m/Y H:i')}) }}
                <i class="fa fa-trash"></i>
            {% endif %}
        </p>
        <p>
            {% include "InckUserBundle:Activity:visibility.html.twig" %}
        </p>
    </div>
</div>
