{% trans_default_domain 'FOSUserBundle' %}

<div class="user-card">
    <div class="well">
        {% if user.twitter or user.facebook or user.googlePlus or user.linkedIn %}
            <div class="socials">
                <p>
                    {# Social networks #}
                    {% if user.twitter %}
                        <a href="{{ user.twitter }}" class="btn btn-twitter btn-xs">
                            <i class="fa fa-twitter"></i>
                        </a>
                    {% endif %}
                    {% if user.facebook %}
                        <a href="{{ user.facebook }}" class="btn btn-facebook btn-xs">
                            <i class="fa fa-facebook"></i>
                        </a>
                    {% endif %}
                    {% if user.googlePlus %}
                        <a href="{{ user.googlePlus }}" class="btn btn-google btn-xs">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    {% endif %}
                    {% if user.linkedIn %}
                        <a href="{{ user.linkedIn }}" class="btn btn-linkedin btn-xs">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    {% endif %}
                </p>
            </div>
        {% endif %}

        <p>
            <a href="{{ path('fos_user_profile_preview', { 'username': user.username }) }}">
                <img alt="Avatar de {{ user.fullname }}" class="img-circle avatar" src="{{ gravatar(user.email, 250, true) }}"/>
            </a>
        </p>

        <h2>
            <a href="{{ path('fos_user_profile_preview', { 'username': user.username }) }}">A propos de {{ user.fullname }}
            </a>
        </h2>

        <div class="biography">
            {% if user.biography %}
                <p>{{ user.biography}}</p>
            {% else %}
                <p>Oops ! {{ user.fullname }} n'a pas encore complété sa biographie. <i class="fa fa-meh-o"></i></p>
            {% endif %}
        </div>
    </div>
</div>
