{% extends "InckUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}{{ 'profile.page.edit_profile'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/user/profile/edit.css'
        'bundles/inckuser/css/Registration/register.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'profile.page.edit_profile'|trans }}</h1>
            <p>
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default"><i class="fa fa-user"></i> {{ 'profile.page.return_profile'|trans }}</a>
                <button class="btn btn-success" type="submit" form="fos_user_profile_edit"><i class="fa fa-refresh"></i> {{ 'profile.edit.submit'|trans }}</button>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    </div>
{% endblock content %}
