{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-xs-3">
        <img alt="Avatar de {{ user.lastName and user.firstName ? user.firstName ~ ' ' ~ user.lastName : user.username }}" class="img-thumbnail img-responsive" src="{{ gravatar(user.email, 250, 'g', 'mm', true) }}"/>
    </div>

    <div class="col-xs-9">
        <div class="biography"  itemscope itemtype="http://schema.org/Person">
            <h3 itemprop="name">Biographie de {{ user.lastName and user.firstName ? user.firstName ~ ' ' ~ user.lastName : user.username }}</h3>
            {% if user.biography %}
                <p itemprop="description">{{ user.biography }}</p>
            {% else %}
                <p itemprop="description">
                    <span class="no-biography">Cet utilisateur n'a pas encore complété son profil. Pour combler ce vide, voici un résumé de la biographie de Dennis Ritchie :</span><br>
                    Dennis MacAlistair Ritchie, né le 9 septembre 1941 à Bronxville dans l'État de New York et trouvé mort le 12 octobre 2011 à Berkeley Heights dans le New Jersey, est un des pionniers de l'informatique moderne, inventeur du langage C et codéveloppeur de Unix.
                    Il est parfois désigné par dmr, son adresse électronique aux Laboratoires Bell.
                    Au début des années 1970, programmeur aux Laboratoires Bell, il travaille avec Ken Thompson au développement d'Unix.
                    Le langage B de Thompson étant trop limité pour les besoins du nouveau système, Ritchie est amené à créer sur les mêmes bases le langage C.
                    Par la suite, avec l'aide de Brian Kernighan, il promeut le langage et rédige notamment le livre de référence The C Programming Language.
                    Il reçoit conjointement avec Ken Thompson le prix Turing de l'ACM en 1983 pour leur travail sur le système Unix.
                </p>
            {% endif %}
        </div>
        <p itemscope itemtype="http://schema.org/Webpage">
            {% set popoverContent = '<i class="fa fa-circle fa-fw"></i> <strong>Utilisateur :</strong> ' ~ user.username %}
            {% if user.firstname or user.lastname %}
                {% set popoverContent = popoverContent ~ '<br><i class="fa fa-user fa-fw"></i> <strong>Nom : </strong>' %}
                {% if user.firstname %}{% set popoverContent = popoverContent ~ user.firstname %}{% endif %}
                {% if user.lastname %}{% set popoverContent = popoverContent ~ ' ' ~ user.lastname %}{% endif %}
            {% endif %}
            {% if user.school %}{% set popoverContent = popoverContent ~ '<br><i class="fa fa-graduation-cap fa-fw"></i><strong> École fréquentée :</strong> ' ~ user.school %}{% endif %}
            {% if user.occupation %}{% set popoverContent = popoverContent ~ '<br><i class="fa fa-briefcase fa-fw"></i> <strong>Activité/métier :</strong> ' ~ user.occupation %}{% endif %}
            {% if user.birthday %}{% set popoverContent = popoverContent ~ '<br><i class="fa fa-calendar fa-fw"></i> <strong>Date de naissance :</strong> ' ~ user.birthday|date('d/m/Y') %}{% endif %}
            {% if user.city %}{% set popoverContent = popoverContent ~ '<br><i class="fa fa-building fa-fw"></i> <strong>Ville :</strong> ' ~ user.city %}{% endif %}
            {% if user.country %}{% set popoverContent = popoverContent ~ '<br><i class="fa fa-globe fa-fw"></i> <strong>Pays :</strong> ' ~ user.country %}{% endif %}
            {% if user.twitter %}{% set popoverContent = popoverContent ~ '<br><i class="fa fa-twitter fa-fw"></i> <strong><a href="' ~ user.twitter ~ '">Twitter</a></strong>' %}{% endif %}
            {% if user.facebook %}{% set popoverContent = popoverContent ~ '<br><i class="fa fa-facebook fa-fw"></i> <strong><a href="' ~ user.facebook ~ '">Facebook</a></strong>' %}{% endif %}
            {% if user.googlePlus %}{% set popoverContent = popoverContent ~ '<br><i class="fa fa-google-plus fa-fw"></i> <strong><a href="' ~ user.googlePlus ~ '">Google+</a></strong>' %}{% endif %}
            {% if user.linkedIn %}{% set popoverContent = popoverContent ~ '<br><i class="fa fa-linkedin fa-fw"></i> <strong><a href="' ~ user.linkedIn ~ '">Linkedin</a></strong>' %}{% endif %}

            <button type="button" class="btn btn-default btn-popover btn-sm" data-html="true" data-container="body" data-toggle="popover" data-placement="right" data-title="Informations" data-animation=true data-content="{{ popoverContent }}">
                <i class="fa fa-info-circle"></i> {{ 'profile.page.more_info'|trans }}
            </button>
        </p>
    </div>
</div>
