{% extends "InckUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% set gravatar = gravatar(user.email, 70, true) %}

{% block title %}Profil de {{ user.fullname }}{% endblock %}
{% block description %}{% if user.biography %}<meta name="description" content="{{ user.biography|slice(0, 157) }}{% if user.biography|length > 157 %}...{% endif %}">{% endif %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/user/profile/preview.css'
        'bundles/inckuser/css/Profile/preview.css'
        'bundles/inckarticle/css/Article/timeline.css'
        'bundles/inckarticle/css/Article/summary.css'
        'bundles/inckarticle/css/Article/score.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>
                <img alt="Avatar de {{ user.fullname }}" class="img-circle avatar" src="{{ gravatar }}"/>
                <span>{{ user.fullname }}</span>
                <small></small>
            </h1>
            <p>
                {% if user.biography %}
                    {{ user.biography }}
                {% else %}
                    Oops ! {{ user.fullname }} n'a pas encore complété sa biographie. <i class="fa fa-meh-o"></i>
                {% endif %}
            </p>
            <p>
                {% if user != app.user %}
                    {{ subscribe_button('user', user) }}
                {% endif %}
                {# Social networks #}
                {% if user.twitter %}
                    <a href="{{ user.twitter }}" class="btn btn-inverse">
                        <i class="fa fa-fw fa-twitter"></i>
                    </a>
                {% endif %}
                {% if user.facebook %}
                    <a href="{{ user.facebook }}" class="btn btn-inverse">
                        <i class="fa fa-fw fa-facebook"></i>
                    </a>
                {% endif %}
                {% if user.googlePlus %}
                    <a href="{{ user.googlePlus }}" class="btn btn-inverse">
                        <i class="fa fa-fw fa-google-plus"></i>
                    </a>
                {% endif %}
                {% if user.linkedIn %}
                    <a href="{{ user.linkedIn }}" class="btn btn-inverse">
                        <i class="fa fa-fw fa-linkedin"></i>
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="profile preview">

        <div class="container">
            <div class="panel-group accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="user-subscriptions-heading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent=".accordion" href="#user-subscriptions" aria-expanded="true" aria-controls="user-subscriptions">
                                <i class="fa fa-bullhorn"></i>
                                {{ 'profile.preview.subscription'|trans }}
                            </a>
                            <span class="label label-default pull-right">
                                <span>{{ nbFollowers }} abonné(s)</span>
                            </span>
                        </h4>
                    </div>
                    <div id="user-subscriptions" class="panel-collapse collapse" role="tabpanel" aria-labelledby="user-subscriptions-heading">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                {% include 'InckUserBundle:Profile:show_bookshelf.html.twig' with {'bookshelfs': user.bookshelfs, 'bookshelfs_length': user.publicBookshelfs|length} %}
            </div>
        </div>

        <section id="user-{{ user.id }}-articles" class="user-articles">
            {{ render(controller('InckArticleBundle:Article:timeline', { 'filters': { 'author': user, 'type': 'published' } })) }}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output='js/compiled/user/profile/preview.js'
        'bundles/inckarticle/js/Article/timeline.js'
        'bundles/incksubscription/js/Subscription/new.js'
        'bundles/inckarticle/js/Article/watchLater.js'
        'bundles/inckarticle/js/Article/summary.js'
        'bundles/inckarticle/js/Article/score.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}