{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}Mon Profil{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>Mon profil</h1>
            <p>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</p>
            <p>
                <a class="btn btn-success" href="{{ path('home') }}"><i class="fa fa-home"></i> Accueil</a>
                <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output='js/compiled/user/profile/show.js'
        'bundles/inckuser/js/Profile/show.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
