{% extends "InckUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Mon Profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/user/profile/show.css'
        'bundles/inckuser/css/Profile/show.css'
        'bundles/inckarticle/css/Article/show_modal.css'
        'bundles/inckarticle/css/Article/timeline.css'
        'bundles/inckarticle/css/Article/summary.css'
        'bundles/inckarticle/css/Article/score.css'
        'bundles/incksubscription/css/manager.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{# Setting variables#}
{% set gravatar = gravatar(user.email, 70, true) %}

{% block header %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>
                <img alt="Avatar de {{ user.fullname }}" class="img-circle avatar" src="{{ gravatar }}"/>
                <span>{{ user.fullname }}</span>
            </h1>
            <p>
                {% if user.biography %}
                    {{ user.biography }}
                {% else %}
                    Oops ! Vous n'avez pas encore de biographie. Il serait idéal d'écrire un petit message sur vous-même sauf si vous n'êtes actuellement pas vous-même. <i class="fa fa-beer"></i>
                {% endif %}
            </p>
            <p>
                {# Actions #}
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-inverse"><i class="fa fa-pencil-square-o"></i> {{ 'profile.page.edit_profile'|trans }}</a>
                <a href="{{ path('fos_user_change_password') }}" class="btn btn-inverse"><i class="fa fa-lock"></i> {{ 'profile.page.change_password'|trans }}</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel-group accordion" role="tablist" aria-multiselectable="true">
            {% include 'InckUserBundle:Profile:show_articles.html.twig' %}
            {% include 'InckUserBundle:Profile:show_watchlater.html.twig' %}
            {% include 'InckArticleBundle:Bookshelf:show.html.twig' %}
            {% include 'InckUserBundle:Profile:show_subscriptions.html.twig' %}
        </div>
        <hr>
        <section id="user-profile-history" class="history">
            <h2>{{ 'profile.page.personnal_history'|trans }}</h2>
            {{ render(controller('InckUserBundle:Activity:list', { 'user': user })) }}
        </section>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output='js/compiled/user/profile/show.js'
        'bundles/inckuser/js/Profile/show.js'
        'bundles/inckarticle/js/Article/watchLater.js'
        'bundles/incksubscription/js/Subscription/manager.js'
        'bundles/incksubscription/js/Subscription/new.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
