{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <!-- Nav tabs -->
    <div class="tabs">
        <nav>
            <ul class="nav" role="tablist">
                <li class="active"><a href="#profile" role="tab" data-toggle="tab"><i class="fa fa-fw fa-user"></i><span> {{ 'profile.page.profile'|trans }}</span></a></li>
                <li><a href="#articles" role="tab" data-toggle="tab"><i class="fa fa-fw fa-book"></i><span> {{ 'profile.page.articles'|trans }}</span></a></li>
                <li><a href="#watch-later" role="tab" data-toggle="tab"><i class="fa fa-fw fa-clock-o"></i><span> {{ 'profile.page.read_later_articles'|trans }}</span></a></li>
            </ul>
        </nav>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="profile">
            <div class="row">
                <div class="col-sm-3 hidden-xs visible-sm visible-md visible-lg">
                    <p><img alt="Avatar de {{ user.lastName and user.firstName ? user.firstName ~ ' ' ~ user.lastName : user.username }}" class="img-thumbnail avatar" src="{{ gravatar(user.email, 250, 'g', 'mm', true) }}"/></p>
                    <p class="text-center"><a href="https://fr.gravatar.com/" class="btn btn-primary btn-xs btn-tooltip" data-toggle="tooltip" data-placement="bottom" title="Changer mon avatar avec Gravatar"><i class="fa fa-file-image-o"></i> {{ 'profile.page.avatar'|trans }}</a></p>
                </div>
                <div class="col-sm-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="pull-right visible-xs hidden-sm hidden-md hidden-lg btn-tooltip" data-toggle="tooltip" data-placement="bottom" title="Changer mon avatar avec Gravatar"><a href="https://fr.gravatar.com/"><img alt="Avatar de {{ user.lastName and user.firstName ? user.firstName ~ ' ' ~ user.lastName : user.username }}" class="img-circle avatar" src="{{ gravatar(user.email, 60, 'g', 'mm', true) }}"/></a></p>
                            <h3 class="panel-title">{{ 'profile.page.profile_of'|trans }} {{ user.lastName and user.firstName ? user.firstName ~ ' ' ~ user.lastName : user.username }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>{{ 'profile.page.info'|trans }}</h4>
                                    <p>
                                        <i class="fa fa-circle fa-fw"></i> {{ user.username }}<br>
                                        <i class="fa fa-envelope fa-fw"></i> {{ user.email }}
                                        {% if user.firstname or user.lastname %}
                                            <br><i class="fa fa-user  fa-fw"></i>
                                            {% if user.firstname %}{{ user.firstname }}{% endif %}
                                            {% if user.lastname %}{{ user.lastname }}{% endif %}
                                        {% endif %}
                                        {% if user.school %}<br><i class="fa fa-graduation-cap fa-fw"></i> {{ user.school }}{% endif %}
                                        {% if user.occupation %}<br><i class="fa fa-briefcase fa-fw"></i> {{ user.occupation }}{% endif %}
                                        {% if user.birthday %}<br><i class="fa fa-calendar fa-fw"></i> {{ user.birthday|date('d/m/Y') }}{% endif %}
                                        {% if user.city %}<br><i class="fa fa-building fa-fw"></i> {{ user.city }}{% endif %}
                                        {% if user.country %}<br><i class="fa fa-globe fa-fw"></i> {{ user.country }}{% endif %}
                                    </p>
                                    <p>
                                        {% if user.twitter %}<a class="btn btn-twitter btn-xs" href="{{ user.twitter }}"><i class="fa fa-twitter fa-fw"></i></a>{% endif %}
                                        {% if user.facebook %}<a class="btn btn-facebook btn-xs" href="{{ user.facebook }}"><i class="fa fa-facebook fa-fw"></i></a>{% endif %}
                                        {% if user.googlePlus %}<a class="btn btn-google btn-xs" href="{{ user.googlePlus }}"><i class="fa fa-google-plus fa-fw"></i></a>{% endif %}
                                        {% if user.linkedIn %}<a class="btn btn-linkedin btn-xs" href="{{ user.linkedIn }}"><i class="fa fa-linkedin fa-fw"></i></a>{% endif %}
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <h4>Biographie</h4>
                                    <p>
                                        {% if user.biography %}
                                            {{ user.biography }}
                                        {% else %}
                                            Dennis MacAlistair Ritchie, né le 9 septembre 1941 à Bronxville dans l'État de New York et trouvé mort le 12 octobre 2011 à Berkeley Heights dans le New Jersey, est un des pionniers de l'informatique moderne, inventeur du langage C et codéveloppeur de Unix. Il est parfois désigné par dmr, son adresse électronique aux Laboratoires Bell.
                                            Au début des années 1970, programmeur aux Laboratoires Bell, il travaille avec Ken Thompson au développement d'Unix....
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <p>
                                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> {{ 'profile.page.edit_profile'|trans }}</a>
                                <a href="{{ path('fos_user_change_password') }}" class="btn btn-default"><i class="fa fa-lock"></i> {{ 'profile.page.change_password'|trans }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="articles">
            <div class="row">
                <div class="col-md-6 text text-center">
                    <h4>{{ 'profile.page.why_write'|trans }}</h4>
                    <p>{{ 'profile.page.why_write_recap'|trans }}<br></p>
                    <p><a class="btn btn-default" href="{{ path('inck_article_article_new') }}"><i class="fa fa-rocket"></i> {{ 'profile.page.new_article'|trans }}</a></p>
                </div>
                {% if articlesAsDraft is defined %}
                    <div class="col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">{{ 'profile.page.drafts'|trans }}<span class="badge pull-right">{{ articlesAsDraft|length }}</span></div>
                            {% if articlesAsDraft|length > 0 %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>{{ 'profile.page.title'|trans }}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for article in articlesAsDraft %}
                                        <tr>
                                            <td><span class="label label-warning btn-tooltip" data-toggle="tooltip" data-placement="left" data-container="body" title="Brouillon"><i class="fa fa-file-text-o"></i></span></td>
                                            <td><a href="{{ path('inck_article_article_show', {'id': article.id, 'slug': article.slug, 'updatedAt': article.updatedAt|date('Y-m-d') }) }}">{{ article.title|slice(0, 39) }}{% if article.title|length > 39 %}...{% endif %}</a></td>
                                            <td>
                                                <div class="pull-right btn-group">
                                                    <a href="{{ path('inck_article_article_show_modal', {'id' : article.id }) }}" class="btn btn-primary btn-xs btn-tooltip" data-toggle="tooltip" data-placement="top" title="Aperçu" data-container="body" data-target="modal"><i class="fa fa-search"></i></a>
                                                    <a href="{{ path('inck_article_article_edit', {'id' : article.id }) }}" class="btn btn-warning btn-xs btn-tooltip" data-toggle="tooltip" data-placement="top" title="Éditer" data-container="body"><i class="fa fa-edit"></i></a>
                                                    <a href="{#{ path('inck_article_article_publish', {'id' : article.id }) }#}" class="btn btn-success btn-xs btn-tooltip" data-toggle="tooltip" data-placement="top" title="Publier" data-container="body"><i class="fa fa-send"></i></a>
                                                    <a href="{{ path('inck_article_article_delete', {'id' : article.id }) }}" class="btn btn-danger btn-xs btn-tooltip" data-toggle="tooltip" data-placement="top" title="Supprimer" data-container="body"><i class="fa fa-times"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="panel-body">
                                    {{ 'profile.page.in_draft'|trans }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {% if articlesPosted is defined %}
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">{{ 'profile.page.sent_articles'|trans }}<span class="badge pull-right">{{ articlesPosted|length }}</span></div>
                            {% if articlesPosted|length > 0 %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>{{ 'profile.page.title'|trans }}</th>
                                            <th>{{ 'profile.page.posted_the'|trans }}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for article in articlesPosted %}
                                        {% if article.asDraft %}
                                            {% set status = 'warning' %}
                                            {% set icon = 'file-text-o' %}
                                            {% set tooltip = 'Brouillon' %}
                                        {% elseif article.published %}
                                            {% set status = 'success' %}
                                            {% set icon = 'check' %}
                                            {% set tooltip = 'Publié' %}
                                        {% elseif article.approved == false and article.approved != null %}
                                            {% set status = 'danger' %}
                                            {% set icon = 'times' %}
                                            {% set tooltip = 'Désapprouvé' %}
                                        {% else %}
                                            {% set status = 'primary' %}
                                            {% set icon = 'refresh fa-spin' %}
                                            {% set tooltip = 'En attente' %}
                                        {% endif %}
                                        <tr>
                                            <td><span class="label label-{{ status }} btn-tooltip" data-toggle="tooltip" data-placement="left" data-container="body" title="{{ tooltip }}"><i class="fa fa-{{ icon }}"></i></span></td>
                                            <td><a href="{{ path('inck_article_article_show', {'id': article.id, 'slug': article.slug, 'updatedAt': article.updatedAt|date('Y-m-d') }) }}">{{ article.title|slice(0, 39) }}{% if article.title|length > 39 %}...{% endif %}</a></td>
                                            <td>{{ article.postedAt|date('d/m/Y à H:i') }}</td>
                                            <td><a href="{{ path('inck_article_article_show_modal', {'id' : article.id }) }}" class="btn btn-primary btn-xs btn-tooltip pull-right" data-toggle="tooltip" data-placement="right" title="Aperçu" data-container="body" data-target="modal"><i class="fa fa-search"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="panel-body">
                                    {{ 'profile.page.no_article'|trans }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if articlesPublished is defined %}
                    <div class="col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">{{ 'profile.page.published_articles'|trans }}<span class="badge pull-right">{{ articlesPublished|length }}</span></div>
                            {% if articlesPublished|length > 0 %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>{{ 'profile.page.title'|trans }}</th>
                                        <th>{{ 'profile.page.posted_the'|trans }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for article in articlesPublished %}
                                        <tr>
                                            <td><span class="label label-success btn-tooltip" data-toggle="tooltip" data-container="body" data-placement="left" title="Publié"><i class="fa fa-check"></i></span></td>
                                            <td class="title"><a href="{{ path('inck_article_article_show', {'id': article.id, 'slug': article.slug, 'updatedAt': article.updatedAt|date('Y-m-d') }) }}">{{ article.title|slice(0, 39) }}{% if article.title|length > 39 %}...{% endif %}</a></td>
                                            <td>{{ article.publishedAt|date('d/m/Y à H:i') }}</td>
                                            <td><a href="{{ path('inck_article_article_show_modal', {'id' : article.id }) }}" class="btn btn-primary btn-xs btn-tooltip pull-right" data-toggle="tooltip" data-placement="right" title="Aperçu" data-container="body" data-target="modal"><i class="fa fa-search"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="panel-body">
                                    {{ 'profile.page.no_article'|trans }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="tab-pane" id="watch-later">
            <div class="text-center">
                <h3>{{ 'profile.page.list_watch_later'|trans }} </h3>
                <p>
                    {{ 'profile.page.manage_articles'|trans }} <span class="btn btn-link"><i class="fa fa-clock-o"></i> {{ 'profile.page.watch_later'|trans }}</span><br>
                    {{ 'profile.page.remove_article'|trans }} <span class="btn btn-default btn-xs"><i class="fa fa-times"></i></span> {{ 'profile.page.top_right'|trans }}
                </p>
            </div>
            <div class="articles">
                <div class="row">
                    {% for article in user.articlesWatchLater %}
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-article">
                            <article id="article-{{ article.id }}" class="article">
                                <a class="btn btn-default btn-circle btn-tooltip btn-unwatch-later pull-right btn-xs" data-id="{{ article.id }}" data-toggle="tooltip" data-container="body" data-placement="top" title="Retirer de la liste"><i class="fa fa-times"></i></a>
                                <div class="summary">
                                    {% set currentRoute = app.request.attributes.get('_route') %}
                                    {% if currentRoute == 'inck_article_article_show' %}
                                        {% set articleUrl = '#content' %}
                                    {% else %}
                                        {% set articleUrl = path('inck_article_article_show', { 'id': article.id, 'slug': article.slug, 'updatedAt': article.updatedAt|date('Y-m-d') }) %}
                                    {% endif %}

                                    <div class="thumbnail">
                                        <a href="{{ articleUrl }}">
                                            {% if article.imageName %}
                                                <img src="{{ vich_uploader_asset(article, 'article_image')|apply_filter('article_thumb') }}" alt="Image de l'article : {{ article.title }}">
                                            {% else %}
                                                {% image '@InckArticleBundle/Resources/public/images/article/default.jpg' %}
                                                <img src="{{ asset_url|apply_filter('article_thumb') }}" alt="Image par défaut"/>
                                                {% endimage %}
                                            {% endif %}
                                        </a>
                                        <div class="caption">
                                            <h4><a class="btn-tooltip" data-toggle="tooltip" data-placement="top" data-container="body" title="{{ article.title }}" href="{{ articleUrl }}">{{ article.title }}</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
