{% extends "InckUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'security.login.connect'|trans }}{% endblock %}
{% block description %}<meta name="description" content="Connectez-vous à Inck et partagez-nous vos articles les plus somptueux ! Écrire un article, modérer, voter, c'est contribuer à l'expression libre et culturelle.">{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/user/security/login.css'
        'bundles/inckuser/css/Security/login.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'security.login.connect'|trans }}</h1>
            <p>{{ 'security.login.write'|trans }}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id= "myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'security.login.more'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {% include('InckCoreBundle:Default:about_content.html.twig') %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container login" itemscope itemtype="http://schema.org/Webpage">
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error|trans }}</div>
        {% endif %}

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>{{ 'security.login.social_network'|trans }}</h4>
                    </div>
                    <div class="panel-body">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="username">{{ 'security.login.username'|trans }}</label>
                                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                                </div>
                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="password">{{ 'security.login.password'|trans }}</label>
                                    <input class="form-control" type="password" id="password" name="_password" required="required" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                    <a itemprop="url" href="{{ path('fos_user_resetting_request') }}" class="btn btn-link">{{ 'security.login.forgot_password'|trans }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-success" type="submit"><i class="fa fa-sign-in"></i> {{ 'security.login.submit'|trans }}</button>
                                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> {{ 'layout.register'|trans }}</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="{{ path('facebook_login') }}" class="btn btn-facebook btn-tooltip btn-sm btn-block" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Connexion avec facebook">
                                    <i class="fa fa-facebook"></i>
                                    Avec Facebook
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a href="{{ path('google_login') }}" class="btn btn-google btn-tooltip btn-sm btn-block" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Connexion avec google">
                                    <i class="fa fa-google"></i>
                                    Avec Google
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                {% image '@InckUserBundle/Resources/public/images/inck-logo.png' %}
                    <img itemprop="image" class="img-responsive img-circle logo" src="{{ asset_url }}" alt="Logo de Inck">
                {% endimage %}

                <h3>{{ 'security.login.read'|trans }}</h3>
                <p itemprop="description" class="description">{{ 'security.login.read_discription'|trans }}</p>
                <p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#myModal" role="button"><i class="fa fa-rocket"></i> {{ 'security.login.more'|trans }}</a>
                    <a itemprop="url" class="btn btn-default" role="button" href="{{ path('home') }}"><i class="fa fa-home"></i> {{ 'security.login.article_list'|trans }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}