{% extends "InckUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'security.login.connect'|trans }}{% endblock %}
{% block description %}<meta name="description" content="Connectez-vous à Inck et partagez-nous vos articles les plus somptueux ! Écrire un article, modérer, voter, c'est contribuer à l'expression libre et culturelle.">{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/user/security/login.css'
        'bundles/inckuser/css/Security/login.css'
        'bundles/inckuser/css/Security/bigvideo.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{#{% block header %}#}
    {#<div class="jumbotron text-center">#}
        {#<div class="container">#}
            {#<h1>{{ 'security.login.connect'|trans }}</h1>#}
            {#<p>{{ 'security.login.write'|trans }}</p>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}

{% block content %}
    {#<!-- Modal -->#}
    {#<div class="modal fade" id= "myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
        {#<div class="modal-dialog">#}
            {#<div class="modal-content">#}
                {#<div class="modal-header">#}
                    {#<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
                    {#<h4 class="modal-title" id="myModalLabel">{{ 'security.login.more'|trans }}</h4>#}
                {#</div>#}
                {#<div class="modal-body">#}
                    {#{% include('InckCoreBundle:Default:about_content.html.twig') %}#}
                {#</div>#}
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="container login">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default center-block">
                    <div class="panel-heading text-center">
                        <h4>{{ 'security.login.social_network'|trans }}</h4>
                    </div>
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <div class="panel-body">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="username">{{ 'security.login.username'|trans }}</label>
                                        <a href="{{ path('fos_user_registration_register') }}" class="pull-right" tabindex="1">
                                            <i class="fa fa-pencil-square-o"></i>
                                            {{ 'registration.register.question'|trans }}
                                        </a>
                                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" tabindex="0"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">{{ 'security.login.password'|trans }}</label>
                                        <a href="{{ path('fos_user_resetting_request') }}" class="pull-right" tabindex="1">
                                            <i class="fa fa-fw fa-lock"></i>
                                            {{ 'security.login.forgot_password'|trans }}
                                        </a>
                                        <input class="form-control" type="password" id="password" name="_password" required="required" tabindex="0"/>
                                    </div>
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" tabindex="0"/>
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6 col-sm-8">
                                    <div class="submit">
                                        <button class="btn btn-success btn-lg btn-block btn-submit" type="submit" tabindex="0">
                                            <i class="fa fa-sign-in"></i>
                                            {{ 'security.login.submit'|trans }}
                                        </button>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <div class="facebook">
                                        <a href="{{ path('facebook_link') }}" class="btn btn-facebook btn-tooltip btn-xs btn-block" data-toggle="tooltip" data-placement="top" data-container="body" title="Connexion avec facebook"  tabindex="1">
                                            <i class="fa fa-facebook"></i>
                                            Avec Facebook
                                        </a>
                                    </div>
                                    <div class="google">
                                        <a href="{{ path('google_link') }}" class="btn btn-google btn-tooltip btn-xs btn-block" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Connexion avec google"  tabindex="1">
                                            <i class="fa fa-google"></i>
                                            Avec Google
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter='?uglifyjs2' output='js/compiled/user/security/login.js'
        'bundles/inckuser/js/Security/video.js'
        'bundles/inckuser/js/Security/bigvideo.js'
        'bundles/inckuser/js/Security/login.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}