{% extends "InckUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Se connecter{% endblock %}
{% block description %}<meta name="description" content="Connectez-vous à Inck et partagez-nous vos articles les plus somptueux ! Écrire un article, modérer, voter, c'est contribuer à l'expression libre et culturelle.">{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/user/security/login.css'
        'bundles/inckuser/css/Security/login.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>Me connecter à Inck</h1>
            <p>Écrire et diffuser devient à la portée de tous !</p>
            <p><a class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" role="button" ><i class="fa fa-rocket"></i> En savoir plus</a></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id= "myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">En savoir plus</h4>
                </div>
                <div class="modal-body">
                    {% include('InckCoreBundle:Default:about_content.html.twig') %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container login">
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error|trans }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="row" itemscope itemtype="http://schema.org/Webpage">
                <div class="col-sm-6">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input class="form-control" type="password" id="password" name="_password" required="required" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                <a itemprop="url" href="{{ path('fos_user_resetting_request') }}" class="btn btn-link">Mot de passe oublié</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <button class="btn btn-success" type="submit"><i class="fa fa-sign-in"></i> {{ 'security.login.submit'|trans }}</button>
                                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> {{ 'layout.register'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    {% image '@InckUserBundle/Resources/public/images/inck-logo.png' %}
                        <img itemprop="image" class="img-circle img-responsive logo" src="{{ asset_url }}" alt="Logo de Inck">
                    {% endimage %}

                    <h3>Lire, voter et partager !</h3>
                    <p itemprop="description" class="description">Inck est un site regroupant des articles de toutes catégories faits par la communauté. Ici vous pouvez lire, voter et partager un contenu d'opinion libre de toutes restrictions et de toute censure, apprendre de textes de qualité et être surpris par ce que le monde peut partager. N'hésitez plus et laissez-vous porter par les flots de l'expression libre et culturelle !</p>
                    <p><a itemprop="url" class="btn btn-default" role="button" href="{{ path('home') }}"><i class="fa fa-home"></i> Liste des articles</a></p>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}