<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Inck - {% block title %}{% endblock %}</title>
        {% block description %}{% endblock %}

        {% block stylesheets %}
            {% stylesheets filter='yui_css,cssrewrite' output='css/compiled/base.css'
                'css/bootstrap.css'
                'components/font-awesome/css/font-awesome.css'
                'bundles/inckcore/css/button.css'
                'bundles/inckcore/css/global.css'
            %}
                <link href="{{ asset_url }}" rel="stylesheet" media="screen">
            {% endstylesheets %}
            {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

            {% include 'AvocodeFormExtensionsBundle::stylesheets.html.twig' %}
            {% if form is defined %}
                {{ afe_form_stylesheet(form) }}
            {% endif %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        <div class="wrapper">
            {% block navbar %}{% endblock %}
            {% block header %}{% endblock %}
            {% include('base/messages.html.twig') %}
            {% block content %}{% endblock %}
            {% block footer %}{% endblock %}
        </div>

        {% block javascripts %}
            {% javascripts filter='yui_js' output='js/compiled/base.js'
                'bundles/fosjsrouting/js/router.js'
                'js/fos_js_routes.js'
                'components/jquery/jquery.min.js'
                'components/jquery-ui/jquery-ui.min.js'
                'js/bootstrap.js'
                'bundles/inckcore/js/global.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% include 'AvocodeFormExtensionsBundle::javascripts.html.twig' %}
            {% if form is defined %}
                {{ afe_form_javascript(form) }}
            {% endif %}
        {% endblock %}
    </body>
</html>
