<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Inck - {% block title %}{% endblock %}</title>
        {% block description %}{% endblock %}

        {% block stylesheets %}
            {% stylesheets filter='yui_css' filter='cssrewrite' output='css/compiled/main.css'
                'css/bootstrap.css'
                'bundles/inckcore/css/button.css'
                'bundles/inckcore/css/global.css'
            %}
                <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
                <link href="{{ asset_url }}" rel="stylesheet" media="screen">
            {% endstylesheets %}
            {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
            {% include 'AvocodeFormExtensionsBundle::stylesheets.html.twig' %}
            {% if form is defined %}
                {{ afe_form_stylesheet(form) }}
            {% endif %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        <div class="wrapper">
            {% block navbar %}{% endblock %}
            {% block header %}{% endblock %}
            {% include('base/messages.html.twig') %}
            {% block content %}{% endblock %}
            {% block footer %}{% endblock %}
        </div>

        {% block javascripts %}
            {% javascripts filter='yui_js' output='js/compiled/main.js'
                'js/jquery.js'
                'js/bootstrap.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% include 'AvocodeFormExtensionsBundle::javascripts.html.twig' %}
            {% if form is defined %}
                {{ afe_form_javascript(form) }}
            {% endif %}
        {% endblock %}
    </body>
</html>
