<!DOCTYPE html>
<html {% block xmlns %}{% endblock %}>
    <head>
        <meta charset="UTF-8" />
        <title>Inck - {% block title %}{% endblock %}</title>
        {% block description %}{% endblock %}

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/base.css'
                'css/bootstrap.css'
                'components/font-awesome/css/font-awesome.css'
                'bundles/inckcore/css/button.css'
                'bundles/inckcore/css/global.css'
                'bundles/inckcore/css/form.css'
            %}
                <link href="{{ asset_url }}" rel="stylesheet" media="screen">
            {% endstylesheets %}
            {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

            {% include 'AvocodeFormExtensionsBundle::stylesheets.html.twig' %}
            {% if form is defined %}
                {{ afe_form_stylesheet(form) }}
            {% endif %}

            {% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/base/notification.css'
                    'bundles/incknotification/css/ns-default.css'
                    'bundles/incknotification/css/ns-style-other.css'
                %}
                    <link href="{{ asset_url }}" rel="stylesheet" media="screen">
                {% endstylesheets %}
            {% endif %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        <div id="wrapper">
            <nav id="navbar">{% block navbar %}{% endblock %}</nav>
            <header id="header">{% block header %}{% endblock %}</header>
            {% if app.request.attributes.get('_route') != 'inck_article_article_show' %}{% include('base/messages.html.twig') %}{% endif %}
            <section id="content">{% block content %}{% endblock %}</section>
            <footer id="footer">{% block footer %}{% endblock %}</footer>
        </div>

        {% block javascripts %}
            {% javascripts filter='?uglifyjs2' output='js/compiled/base.js'
                'components/jquery/jquery.min.js'
                'components/jquery-ui/jquery-ui.min.js'
                'js/bootstrap.js'
                'bundles/fosjsrouting/js/router.js'
                'js/fos_js_routes.js'
                'bundles/inckcore/js/global.js'
                'bundles/inckcore/js/Form/textarea.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% include 'AvocodeFormExtensionsBundle::javascripts.html.twig' %}
            {% if form is defined %}
                {{ afe_form_javascript(form) }}
            {% endif %}

            {% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <script type="text/javascript">
                    window.server = {
                        uri: 'ws://{{ inck_ratchet_server_host }}:{{ inck_ratchet_server_port }}/{{ inck_ratchet_server_name }}',
                        connection: null
                    };
                </script>

                {% javascripts filter='?uglifyjs2' output='js/compiled/base/notification.js'
                    'bundles/inckratchet/js/client.js'
                    'components/modernizr/modernizr.js'
                    'bundles/incknotification/js/notificationFx.js'
                    'bundles/incknotification/js/test.js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
        {% endblock %}
    </body>
</html>
