{% trans_default_domain 'ArticleBundle' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    {% for category in entities %}
                        <tr>
                            <td>
                                <div>
                                    <span class="pull-right">
                                        {{ subscribe_button('category', category, 'btn-xs') }}
                                    </span>
                                    <h4>
                                        <a href="{{ path('inck_article_category_show', { 'id': category.id, 'slug': category.slug }) }}" target="_blank">
                                            {{ category.name|trans }}
                                        </a>
                                    </h4>
                                </div>
                                <p>{{ category.description|trans }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="navigation">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>
</div>
