{% trans_default_domain 'ArticleBundle' %}

{% if entities %}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Titre</th>
            <th>Posté le</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for article in entities %}
            {% if article.asDraft %}
                {% set status = 'warning' %}
                {% set icon = 'file-text-o' %}
                {% set tooltip = 'Brouillon' %}
            {% elseif article.published %}
                {% set status = 'success' %}
                {% set icon = 'check' %}
                {% set tooltip = 'Publié' %}
            {% elseif article.approved == false and article.approved != null %}
                {% set status = 'danger' %}
                {% set icon = 'times' %}
                {% set tooltip = 'Désapprouvé' %}
            {% else %}
                {% set status = 'primary' %}
                {% set icon = 'refresh fa-spin' %}
                {% set tooltip = 'En attente' %}
            {% endif %}
            <tr>
                <td><span class="label label-{{ status }} btn-tooltip" data-toggle="tooltip" data-placement="left" data-container="body" title="{{ tooltip }}"><i class="fa fa-{{ icon }}"></i></span></td>
                <td><a href="{{ path('inck_article_article_show', {'id': article.id, 'slug': article.slug, 'updatedAt': article.updatedAt|date('Y-m-d') }) }}">{{ article.title|slice(0, 39) }}{% if article.title|length > 39 %}...{% endif %}</a></td>
                <td>{{ article.postedAt|date('d/m/Y à H:i') }}</td>
                <td class="text-right">
                    {% if not article.asDraft and not article.published %}
                        <a href="{{ path('inck_article_article_publish', {'id' : article.id, 'slug': article.slug }) }}" class="btn btn-success btn-xs btn-tooltip" data-placement="top" title="Publier" data-container="body" data-toggle="tooltip">
                            <i class="fa fa-check"></i>
                        </a>
                    {% endif %}
                    <a href="{{ path('inck_article_article_show_modal', { 'id' : article.id, 'slug': article.slug }) }}" class="btn btn-primary btn-xs btn-tooltip btn-modal" data-placement="top" title="Aperçu" data-container="body" data-toggle="tooltip">
                        <i class="fa fa-search"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="panel-footer">
        {{ knp_pagination_render(entities) }}
    </div>
{% else %}
    <div class="panel-body">
        <p>Aucun article en base.</p>
    </div>
{% endif %}