{% trans_default_domain 'ArticleBundle' %}

{% set article = lastPublishedArticles[categories.0.id].0 %}
<div class="row">
    <div class="col-sm-6">
        <div class="thumbnail">
            <a href="{{ path('inck_article_category_show', { 'id': categories.0.id, 'slug': categories.0.slug }) }}">
                {% if article.imageName %}
                    <img src="{{ vich_uploader_asset(article, 'article_image') }}" alt="Image du dernier article : {{ article.title }}">
                {% else %}
                    {% image '@InckArticleBundle/Resources/public/images/article/default.jpg' %}
                    <img src="{{ asset_url }}" alt="Image par défaut"/>
                    {% endimage %}
                {% endif %}
            </a>
            <div class="caption">
                <h3><a class="btn btn-primary" href="{{ path('inck_article_category_show', { 'id': categories.0.id, 'slug': categories.0.slug }) }}">{{ categories.0.name }}</a></h3>
                <p>{{ categories.0.description }}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="about">
            {% image '@InckArticleBundle/Resources/public/images/category/Ticket@2x.png' %}
            <img class="img-responsive img-inline" src="{{ asset_url }}" alt="Categorie"/>
            {% endimage %}
            <h2>{{ 'category.list_content.most_popular'|trans }}</h2>
            <p class="description">
                {{ 'category.list_content.we_select'|trans }}
                {{ 'category.list_content.the_popular'|trans }} <a href="{{ path('inck_article_category_show', { 'id': categories.0.id, 'slug': categories.0.slug }) }}">{{ categories.0.name }}</a> {{ 'category.list_content.with'|trans }} {{ categories.0.articles|length }} {{ 'category.list_content.sent_article'|trans }}
                {{ 'category.list_content.feedback'|trans }}
            </p>
            <p><a href="{{ path('inck_core_contact') }}" class="btn btn-default"><i class="fa fa-send"></i> {{ 'category.list_content.contact_us'|trans }}</a></p>
        </div>
    </div>
</div>
<div class="row">
    {% for category in categories %}
        {% if not loop.first %}
            {% set article = lastPublishedArticles[category.id].0 %}
            <div class="category">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="thumbnail">
                        <a href="{{ path('inck_article_category_show', { 'id': category.id, 'slug': category.slug }) }}">
                            {% if article.imageName %}
                                <img src="{{ vich_uploader_asset(article, 'article_image')|apply_filter('article_thumb') }}" alt="Image du dernier article : {{ article.title }}">
                            {% else %}
                                {% image '@InckArticleBundle/Resources/public/images/article/default.jpg' %}
                                    <img src="{{ asset_url }}" alt="Image par défaut"/>
                                {% endimage %}
                            {% endif %}
                        </a>
                        <div class="caption">
                            <h3><a class="btn btn-primary btn-sm" href="{{ path('inck_article_category_show', { 'id': category.id, 'slug': category.slug }) }}">{{ category.name }}</a></h3>
                            <p>{{ category.description|slice(0, 50) }}...</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>