{% extends 'InckCoreBundle::layout.html.twig' %}
{% block title %}Nous contacter{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Nous contacter</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" {{ form_enctype(form) }}>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.subject) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.content) }}
                </div>
            </div>
            <div class="hidden">
                {{ form_rest(form) }}
            </div>
            <input type="submit" class="btn-success btn btn-primary" value="Envoyer"/>
        </form>
    </div>
{% endblock %}