{% extends 'InckArticleBundle::layout.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}
{% block description %}<meta name="description" content="{{ articlesLength }} article{% if articlesLength > 1 %}s{% endif %} dans {{ tag.name }}">{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/article/tag/show.css'
        'bundles/inckarticle/css/Article/timeline.css'
        'bundles/inckarticle/css/Article/summary.css'
        'bundles/inckarticle/css/Article/social.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ tag.name }} <span class="small">{{ articlesLength }} article{% if articlesLength > 1 %}s{% endif %}</span></h1>
                    <p>
                        {{ subscribe_button('inck_notif.tag_class', tag.id) }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ render(controller('InckArticleBundle:Article:timeline', { 'filters': { 'type': 'published', 'tag': tag } })) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter='?uglifyjs2' output='js/compiled/article/tag/show.js'
        'bundles/inckarticle/js/Article/timeline.js'
        'bundles/inckarticle/js/Article/social.js'
        'bundles/incknotif/js/Subscription/new.js'
        'bundles/inckarticle/js/Article/watchLater.js'
        'bundles/inckarticle/js/Article/summary.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}