{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}{{ 'registration.register.confirmed'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/user/registration/register_confirmed.css'
        'bundles/inckuser/css/Registration/confirmed.css'
        'bundles/inckarticle/css/Article/timeline.css'
        'bundles/inckarticle/css/Article/summary.css'
        'bundles/inckarticle/css/Article/score.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h1>
            {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}<p><a class="btn btn-default" href="{{ targetUrl }}"><i class="fa fa-backward"></i> {{ 'registration.back'|trans }}</a></p>{% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>{{ 'registration.register.go_to'|trans }}</h3>
                <p>{{ 'registration.register.go_to_recap'|trans }}</p>
                <p><a class="btn btn-default" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> {{ 'registration.register.my_profile'|trans }}</a></p>
            </div>
            <div class="col-md-4">
                <h3>{{ 'registration.register.want_to_share'|trans }}</h3>
                <p>{{ 'registration.register.want_to_share_recap'|trans }}</p>
                <p><a class="btn btn-success" href="{{ path('inck_article_article_new') }}"><i class="fa fa-pencil"></i> {{ 'registration.register.write_article'|trans }}</a></p>
            </div>
             <div class="col-md-4">
                <h3>{{ 'registration.register.press'|trans }}</h3>
                <p>{{ 'registration.register.press_recap'|trans }}</p>
                <p><a class="btn btn-primary" href="{{ path('fos_user_change_password') }}"><i class="fa fa-university"></i> {{ 'registration.register.my_buisness'|trans }}</a></p>
            </div>
        </div>

        <div class="last-article" itemscope itemtype ="http://schema.org/Article">
            <h3>{{ 'registration.register.last_article'|trans }}</h3>
            <br>
            {{ render(controller('InckArticleBundle:Article:last')) }}
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% javascripts filter='?uglifyjs2' output='js/compiled/user/registration/confirmed.js'
            'bundles/inckarticle/js/Article/score.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}