{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}Confirmation d'activation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='yui_css' filter='cssrewrite' output='css/compiled/user/registration/register_confirmed.css'
        'bundles/inckuser/css/Registration/register_confirmed.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h1>
            {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}<p><a class="btn btn-default" href="{{ targetUrl }}"><i class="fa fa-backward"></i> {{ 'registration.back'|trans }}</a></p>{% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Voir tous nos articles</h3>
                <p>
                    Accédez à l'ensemble des articles écrits par notre communauté.
                </p>
                <a class="btn btn-primary" href="{{ path('home') }}"><i class="fa fa-home"></i> Voir nos articles</a>
            </div>

            <div class="col-md-4">
                <h3>Accéder à mon profil</h3>
                <p>
                    Vous y trouverez toutes les informations vous concernant ainsi que vos statistiques.
                </p>
                <a class="btn btn-primary" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> Mon profil</a>
            </div>
             <div class=".col-md-4">
                <h3>Presse, entreprise?</h3>
                <p>Avec Inck, vous pouvez publier et acquérir les droits des articles écrits par les membres de la communauté sur votre site ou journal via un système de vente aux enchères.
                </p>
                <a class="btn btn-success" href="{{ path('fos_user_change_password') }}"><i class="fa fa-university"></i> Mon entreprise</a>
            </div>
        </div>
        <div class="last_article" itemscope itemtype ="http://schema.org/Article">
        {{ render(controller('InckArticleBundle:Article:timeline', {'limit' : 1})) }}
        </div>
    </div>
{% endblock content %}