{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}Confirmation d'activation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/user/registration/register_confirmed.css'
        'bundles/inckuser/css/Registration/confirmed.css'
        'bundles/inckarticle/css/Article/timeline.css'
        'bundles/inckarticle/css/Article/summary.css'
        'bundles/inckarticle/css/Article/social.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h1>
            {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}<p><a class="btn btn-default" href="{{ targetUrl }}"><i class="fa fa-backward"></i> {{ 'registration.back'|trans }}</a></p>{% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>{{ "Go to my profile"|trans }}</h3>
                <p>{{ "You will find all the information conserning you including your statistics. You can see your articles, your drafts and your news feeds."|trans }}</p>
                <p><a class="btn btn-default" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> {{ "My profile"|trans }}</a></p>
            </div>
            <div class="col-md-4">
                <h3>{{ "Want to share an idea ?"|trans }}</h3>
                <p>{{ "When you share on Inck by writing an article, you're contributing to the development of free expression and culture. Read, learn, share here everything is possible !"|trans }}</p>
                <p><a class="btn btn-success" href="{{ path('inck_article_article_new') }}"><i class="fa fa-pencil"></i> {{ "Write an article"|trans }}</a></p>
            </div>
             <div class="col-md-4">
                <h3>{{ "press, business?"|trans }}</h3>
                <p>{{ "With Inck, you can publish and obtain the rights to articles written by the members of the community on your site or newspaper via the auction sales system."|trans }}</p>
                <p><a class="btn btn-primary" href="{{ path('fos_user_change_password') }}"><i class="fa fa-university"></i> {{ "My company"|trans }}</a></p>
            </div>
        </div>

        <div class="last-article" itemscope itemtype ="http://schema.org/Article">
            <h3>{{ "Last article published"|trans }}</h3>
            <br>
            {{ render(controller('InckArticleBundle:Article:last')) }}
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% javascripts filter='?uglifyjs2' output='js/compiled/article/article/social.js'
            'bundles/inckarticle/js/Article/social.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}