{% trans_default_domain 'FOSUserBundle' %}

<div class="registration">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" id="fos_user_registration_register" class="fos_user_registration_register">
        {% if form_errors(form) %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <section id="registration_required">
            <div class="well">
                <h2>Informations requises</h2>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.username) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.plainPassword.first) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.plainPassword.second) }}
                    </div>
                </div>

                <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}" />
                <p class="btn-inline"><a href="#registration_more" class="btn btn-default btn-xs"><i class="fa fa-plus-square"></i> Compléter mon compte</a></p>
            </div>
        </section>

        <section id="registration_more">
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        {% image '@InckUserBundle/Resources/public/images/drop@2x.png' %}
                            <img class="img-responsive img-inline" src="{{ asset_url }}" alt="Encre"/>
                        {% endimage %}
                        <h2>Compléter mon compte</h2>
                        <p class="description">
                            Votre profil nous intéresse ! En effet, nous aimons connaître nos utilisateurs afin de cibler au mieux ce qu'il peut leur plaire.
                            De plus, lorsqu'un article est posté, il est toujours agréable d'en connaître un petit peu sur l'auteur.
                            Que vous soyez un grand poète, un développeur hors-pair ou un philosophe amateur, nous sommes tous unique, alors n'hésitez plus !
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="col-sm-6">

                        {{ form_row(form.firstname) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.school) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.occupation) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.birthday) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_row(form.biography) }}
                    </div>
                </div>

                <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}" />
                <p class="btn-inline"><a href="#registration_address" class="btn btn-default btn-xs"><i class="fa fa-plus-square"></i> Ajouter mes coordonnées</a></p>
            </div>
        </section>

        <section id="registration_address">
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        {% image '@InckUserBundle/Resources/public/images/Map-drop@2x.png' %}
                            <img class="img-responsive img-inline" src="{{ asset_url }}" alt="Carte"/>
                        {% endimage %}
                        <h2>Coordonnées</h2>
                        <p class="description">
                            Vos coordonnées nous sont obligatoire si vous voulez être rémunéré par vos articles.
                            En effet, tous nos auteurs peuvent se voir récompensés pour leur talent en étant publiés sur de grands sites de presse rémunérant à prix honnêtes des articles de qualités.
                            Ceux-ci sont les votres, l'expression libre et culturelle.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.address) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.city) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.zipcode) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.country) }}
                    </div>
                </div>
                <div class="hidden">
                    {{ form_rest(form) }}
                </div>

                <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}" />
                <p class="btn-inline"><a href="#" class="btn btn-default btn-xs"><i class="fa fa-arrow-circle-up"></i></a></p>
            </div>
        </section>
    </form>
</div>

