{% trans_default_domain 'FOSUserBundle' %}

<div class="registration" itemscope itemtype="http://schema.org/Webpage">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" id="fos_user_registration_register" class="fos_user_registration_register">
        {{ form_errors(form) }}

        <section id="registration_required">
            <div class="well">
                <h2>{{ "Required information"|trans }}</h2>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.username) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.plainPassword.first) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.plainPassword.second) }}
                    </div>
                </div>

                <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> {{ 'registration.submit'|trans }}</button>
                <p class="btn-inline"><a href="#registration_more" class="btn btn-default"><i class="fa fa-plus-square"></i> {{ "Complete my account"|trans }}</a></p>
            </div>
        </section>

        <section id="registration_more">
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        {% image '@InckUserBundle/Resources/public/images/drop@2x.png' %}
                            <img class="img-responsive img-inline" src="{{ asset_url }}" alt="Encre"/>
                        {% endimage %}
                        <h2>{{ "Complete my account"|trans }}</h2>
                        <p class="description"  itemprop="description">
                            {{ "We are interested in your profile ! Of course, we would like to know our user so that we can better target the things that you like. Even more then that when an article is published, it's always good to know a little about the author. If you're a poet, an outstanding developer or even an amateur philosopher, we are all unique, so don't hesitate to poste !"|trans }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="col-sm-6">

                        {{ form_row(form.firstname) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.school) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.occupation) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.birthday) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_row(form.biography) }}
                    </div>
                </div>

                <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> {{ 'registration.submit'|trans }}</button>
                <p class="btn-inline"><a href="#registration_address" class="btn btn-default"><i class="fa fa-plus-square"></i> {{ "Add my coordinates"|trans }}</a></p>
            </div>
        </section>

        <section id="registration_address">
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        {% image '@InckUserBundle/Resources/public/images/atlas@2x.png' %}
                            <img itemprop="image" class="img-responsive img-inline" src="{{ asset_url }}" alt="Atlas"/>
                        {% endimage %}
                        <h2>{{ "Coordinates"|trans }}</h2>
                        <p class="description"  itemprop="description">
                            {{ "We need your coordinates if you would like to get payed for your articles. Of course, all of our authors can be rewarded for their talent if their article is bought by a big site you will be remunerated at an honest price based on your article's quality. These things are yours, free expression and culture."|trans }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.address) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.city) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.zipcode) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.country) }}
                    </div>
                </div>

                <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> {{ 'registration.submit'|trans }}</button>
                <p class="btn-inline"><a href="#registration_websites" class="btn btn-default"><i class="fa fa-plus-square"></i> {{ "Add my social networks"|trans }}</a></p>
            </div>
        </section>

        <section id="registration_websites">
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        {% image '@InckUserBundle/Resources/public/images/Facebook@2x.png' %}
                            <img itemprop="image" class="img-responsive img-inline" src="{{ asset_url }}" alt="Carte"/>
                        {% endimage %}
                        <h2>{{ "Social networks"|trans }}</h2>
                        <p class="description"  itemprop="description">
                            {{ "Social networks are a good way to become known and to promote your articles. They will be highlighted on your user card with every article that you share with the community."|trans }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.facebook) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.twitter) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.googlePlus) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.linkedIn) }}
                    </div>
                </div>

                <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> {{ 'registration.submit'|trans }}</button>
            </div>
        </section>
        <div class="hidden">
            {{ form_rest(form) }}
        </div>
    </form>
</div>

