{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_group_edit', {'groupName': group_name} ) }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_edi group">
    {{ form_errors(form) }}

    <section>
        <div class="well">
            <h2>{{ 'group.pages.complete_info'|trans }}</h2>
            <p class="description">
                {{ 'group.pages.info_recap'|trans }}
            </p>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.website) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.type) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.private) }}
                </div>
            </div>

            <button class="btn btn-success" type="submit"><i class="fa fa-edit"></i> {{ 'group.edit.submit'|trans }}</button>
        </div>
    </section>

    <section>
        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    {% image '@InckUserBundle/Resources/public/images/Map-drop@2x.png' %}
                        <img class="img-responsive img-inline" src="{{ asset_url }}" alt="Carte"/>
                    {% endimage %}
                    <h2>{{ 'registration.content.coordinates'|trans }}</h2>
                    <p class="description">
                        {{ 'group.pages.coordinates_recap'|trans }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.address) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.city) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.zipcode) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.country) }}
                </div>
            </div>

            <div class="hidden">
                {{ form_rest(form) }}
            </div>

            <button class="btn btn-success" type="submit"><i class="fa fa-edit"></i> {{ 'group.edit.submit'|trans }}</button>
        </div>
    </section>
</form>
