{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new">
    {% if form_errors(form) %}
        <div class="alert alert-danger" role="alert">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>

    <input class="btn btn-success" type="submit" value="{{ 'group.new.submit'|trans }}" />
</form>