{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new">
    {{ form_start(form) }}
        {% if form_errors(form) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-6 form-group">
                {{ form_label(form.name, 'Nom du groupe : *') }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div>
            <input class="btn btn-success" type="submit" value="{{ 'group.new.submit'|trans }}" />
        </div>
        <div class="hidden">
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</form>
