{% extends '::base.html.twig' %}
{% trans_default_domain 'CoreBundle' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/layout.css'
        'bundles/inckcore/css/navbar.css'
        'bundles/inckcore/css/footer.css'
        'bundles/inckcore/css/header.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block navbar %}
    {% set currentRoute = app.request.attributes.get('_route') %}
    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="authenticated visible-xs visible-sm hidden-md hidden-lg second-child fos_user_profile_show">
                                <a href="{{ path('fos_user_profile_show') }}">
                                    <img class="fa navbar-avatar img-circle" alt="Avatar de {{ app.user.lastName and app.user.firstName ? app.user.firstName ~ ' ' ~ app.user.lastName : app.user.username }}" src="{{ gravatar(app.user.email, 35, 'g', 'mm', true) }}"/>
                                    <span>{{ app.user.username }}</span>
                                </a>
                            </li>
                            <li class="authenticated visible-xs visible-sm hidden-md hidden-lg fos_user_security_logout">
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="fa fa-sign-out fa-lg fa-fw"></i>
                                    <span>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="authenticated visible-xs visible-sm hidden-md hidden-lg fos_user_security_login">
                                <a href="{{ path('fos_user_security_login') }}">
                                    <i class="fa fa-sign-in fa-lg fa-fw"></i>
                                    <span>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span>
                                </a>
                            </li>
                            <li class="authenticated visible-xs visible-sm hidden-md hidden-lg second-child fos_user_registration_register">
                                <a href="{{ path('fos_user_registration_register') }}">
                                    <i class="fa fa-pencil-square-o fa-lg fa-fw"></i>
                                    <span> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="first-child">
                            <a class="{% if currentRoute == 'inck_article_article_new' %} active{% endif %}" href="{{ path('inck_article_article_new') }}">
                                <i class="fa fa-pencil fa-lg fa-fw"></i>
                                {{ 'view.layout.write_article'|trans }}
                            </a>
                        </li>
                        <li>
                            <a class="{% if currentRoute == 'inck_article_article_moderate' %} active{% endif %}" href="{{ path('inck_article_article_moderate') }}">
                                <i class="fa fa-thumbs-up fa-lg fa-fw"></i>
                                {{ 'view.layout.modify_article'|trans }}
                            </a>
                        </li>
                        <li>
                            <a class="{% if currentRoute == 'inck_article_category_list' %} active{% endif %}" href="{{ path('inck_article_category_list') }}">
                                <i class="fa fa-tags fa-lg fa-fw"></i>
                                {{ 'view.layout.catagories'|trans }}
                            </a>
                        </li>
                        {#<li>#}
                            {#<a class="{% if currentRoute == 'inck_core_default_about' %} active{% endif %}" href="{{ path('inck_core_default_about') }}">#}
                                {#<i class="fa fa-info fa-lg fa-fw"></i>#}
                                {#{{ 'default.about.about'|trans }}#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a class="{% if currentRoute == 'inck_bid_registration_register' %} active{% endif %}" href="&#123;&#35;{ path('inck_bid_registration_register') }&#35;&#125;">#}
                                {#<i class="fa fa-institution fa-lg fa-fw"></i>#}
                                {#{{ 'view.layout.press'|trans }}#}
                            {#</a>#}
                        {#</li>#}
                    </ul>
                </div>
            </nav>
        </li>
        <li class="brand">
            <a class="{% if currentRoute == 'home' %}active{% endif %}" href={{ path('home') }}>
                <i class="fa fa-home"></i>
                Inck
            </a>
        </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="pull-right hidden-xs hidden-sm visible-md visible-lg fos_user_security_logout">
                <a href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-sign-out"></i>
                    <span> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
                </a>
            </li>
            <li class="pull-right hidden-xs hidden-sm visible-md visible-lg fos_user_profile_show">
                <a class="{% if currentRoute == 'fos_user_profile_show' %}active{% endif %}" href="{{ path('fos_user_profile_show') }}">
                    <img class="navbar-avatar img-circle" alt="Avatar de {{ app.user.lastName and app.user.firstName ? app.user.firstName ~ ' ' ~ app.user.lastName : app.user.username }}" src="{{ gravatar(app.user.email, 35, 'g', 'mm', true) }}"/>
                    <span>{{ app.user.username }}</span>
                </a>
            </li>
        {% else %}
            <li class="pull-right hidden-xs hidden-sm visible-md visible-lg fos_user_registration_register">
                <a class="{% if currentRoute == 'fos_user_registration_register' %}active{% endif %}" href="{{ path('fos_user_registration_register') }}">
                    <i class="fa fa-pencil-square-o"></i>
                    <span> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</span>
                </a>
            </li>
            <li class="pull-right hidden-xs hidden-sm visible-md visible-lg fos_user_security_login">
                <a class="{% if currentRoute == 'fos_user_security_login' %}active{% endif %}" href="{{ path('fos_user_security_login') }}">
                    <i class="fa fa-sign-in"></i>
                    <span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span>
                </a>
            </li>
        {% endif %}

        {#<li class="pull-right">#}
            {#{% include 'InckCoreBundle::search.html.twig' %}#}
        {#</li>#}

        <li class="search pull-right">
            <form class="navbar-form" action="{{ path('inck_article_article_search') }}" method="get">
                <div class="input-group">
                    <input class="form-control" placeholder="{{ 'view.layout.search'|trans }}" type="search" name="q">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search fa-fw"></i></button>
                    </span>
                </div>
            </form>
        </li>
    </ul>
{% endblock %}

{% block footer %}
    <section id="footer-links">
        <div class="container text-center">
            <h2>{{ 'view.layout.social_networks'|trans }}</h2>
            <p>{{ 'view.layout.social_networks_recap'|trans }}</p>
            <div>
                <a href="{{ inck_social_facebook }}" class="btn btn-facebook">
                    <i class="fa fa-facebook"></i>
                    Facebook
                </a>
                <a href="{{ inck_social_twitter }}" class="btn btn-twitter">
                    <i class="fa fa-twitter"></i>
                    Twitter
                </a>
                <a href="{{ inck_social_google_plus }}" class="btn btn-google">
                    <i class="fa fa-google-plus"></i>
                    Google+
                </a>
            </div>
        </div>
    </section>

    <section id="footer-parteners" class="ss-style-triangles">
        <div id="carousel-parteners" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-parteners" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-parteners" data-slide-to="1"></li>
                <!--<li data-target="#carousel-parteners" data-slide-to="2"></li>-->
                <!--<li data-target="#carousel-parteners" data-slide-to="3"></li>-->
                <!--<li data-target="#carousel-parteners" data-slide-to="4"></li>-->
                <!--<li data-target="#carousel-parteners" data-slide-to="5"></li>-->
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-caption">
                        <h3><a href="http://www.smaltcreation.com/" style="text-decoration: none; color: inherit;">Smalt Création</a></h3>
                        <p>Créateur de Inck, Nous sommes à l'écoute de nos clients pour vous fournir des produits toujours plus performants.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h3><a href="http://www.supinfo.com/" style="text-decoration: none; color: inherit;">SUPINFO International University</a></h3>
                        <p>Ecole informatique mondiale SUPINFO, leader en France qui forme des ingénieurs en informatique bac+5 et délivre un International Master of Science</p>
                    </div>
                </div>
            <!--<div class="item">
                    <div class="carousel-caption">
                        <h3>Partenaire 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>-->
            <!--<div class="item">
                    <div class="carousel-caption">
                        <h3>Partenaire 4</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>-->
            <!--<div class="item">
                    <div class="carousel-caption">
                        <h3>Partenaire 5</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>-->
            <!--<div class="item">
                    <div class="carousel-caption">
                        <h3>Partenaire 6</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>-->
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-parteners" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-parteners" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output='js/compiled/core/layout.js'
        'bundles/inckcore/js/layout/lib/gnmenu.js'
        'bundles/inckcore/js/layout/menu.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}



