<div class="contact-row row">
    <div class="col-md-12">
        <h2>
            <i class="fa fa-envelope"></i>
            Comment nous contacter ?
        </h2>
        <p>
            Pour nous contacter, vous pouvez remplir le formulaire ci-dessous ou accèder directement au site de notre entreprise :
            <a href="http://smaltcreation.com">
                <i class="fa fa-fw fa-briefcase"></i>
                Smalt Création SAS
            </a>
        </p>
        <form class="contact-form" method="post" {{ form_enctype(form) }}>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.subject) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.content) }}
                </div>
            </div>
            <div class="hidden">
                {{ form_rest(form) }}
            </div>
            <button type="submit" class="btn btn-success btn-lg center-block">
                <i class="fa fa-send"></i>
                Envoyer
            </button>
        </form>
    </div>
</div>