{% extends 'InckCoreBundle::layout.html.twig' %}

{% block title %}L'opinon libre{% endblock %}
{% block description %}<meta name="description" content="Inck est un lieu sans préjugés où nous aimons partager ce que nous pensons. Envoyez tous vos articles et faites vous récompenser pour leur qualité !">{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/core/default/index.css'
        'bundles/inckcore/css/Default/index.css'
        'bundles/inckarticle/css/Article/timeline.css'
        'bundles/inckarticle/css/Article/summary.css'
        'bundles/inckarticle/css/Article/social.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12"  itemscope itemtype="http://schema.org/Website" >
                    <h1>L'expression libre et culturelle</h1>
                    <p>
                        <span itemprop="description" class="hidden-xs hidden-sm visible-md visible-lg">Allant de l'informatique jusqu'à la poésie en passant par la géopolitique et le divertissement,
                        vous êtes le moteur contribuant à la diversité des pensées et au partage de la connaissance.
                        Lire, s'instruire, écrire, enseigner, divertir. Ici tout est possible !</span>
                        <span class="visible-xs visible-sm hidden-md hidden-lg">Lire, s'instruire, écrire, enseigner, divertir. Ici tout est possible !</span>
                    </p>
                    <p>
                        <span class="block">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a class="btn btn-success" href="{{ path('inck_article_article_new') }}"><i class="fa fa-pencil"></i> Écrire un article</a>
                                <a class="btn btn-default" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> Mon profil</a>
                            {% else %}
                                <a itemprop="url" class="btn btn-success" href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                <a itemprop="url" class="btn btn-default" href="{{ path('fos_user_registration_register') }}"><i class="fa fa-pencil-square-o"></i> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ render(controller('InckArticleBundle:Article:timeline', { filters: { 'type': 'published' } })) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter='?uglifyjs2' output='js/compiled/core/default/index.js'
        'bundles/inckarticle/js/Article/timeline.js'
        'bundles/inckarticle/js/Article/social.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}