{% trans_default_domain 'ArticleBundle' %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <button class="btn btn-link btn-xs btn-watch-later btn-tooltip{% if watchLater %} watch-later{% endif %}" data-id="{{ id }}" data-slug="{{ slug }}" data-toggle="tooltip" data-placement="top" data-container="body" title="Regarder plus tard">
        {% if watchLater %}
            <i class="fa fa-check"></i> <span class="btn-text">{{ 'article.button.note'|trans }}</span>
        {% else %}
            <i class="fa fa-clock-o"></i> <span class="btn-text">{{ 'article.button.watch'|trans }}</span>
        {% endif %}
    </button>
{% else %}
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-link btn-xs btn-watch-later btn-tooltip" data-toggle="tooltip" data-placement="top" data-container="body" title="Connectez-vous pour vous ajouter cet article à regarder plus tard">
        <i class="fa fa-clock-o"></i> <span class="btn-text">{{ 'article.button.watch'|trans }}</span>
    </a>
{% endif %}