{% extends 'InckCoreBundle::layout.html.twig' %}

{% block title %}Écrire un article{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='yui_css' filter='cssrewrite' output='css/compiled/article/article/form.css'
        'css/select-bootstrap.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Écrire un article</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {{ form(form, { 'attr': {'novalidate': 'novalidate'} }) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='yui_js' output='js/compiled/article/article/form.js'
        'bundles/inckarticle/js/Article/form.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}