{% extends 'InckArticleBundle::layout.html.twig' %}

{% trans_default_domain 'ArticleBundle' %}

{% block title %}
    {% if action == 'add' %}
        {{ 'article.form.write_article'|trans }}
    {% else %}
        {{ 'article.form.edit_article'|trans }}
    {% endif %}
{% endblock %}

{% block description %}
    {% if action == 'add' %}
        <meta name="description" content="Partager un article en quelques cliques, il n'y a rien de plus simple !">
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/article/article/form.css'
        '@summernote_css'
        'bundles/inckarticle/css/Article/form.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'article.form.write_article'|trans }}</h1>
                    <p>{{ 'article.form.write_article_recap'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <article class="new">
            <form {{ form_enctype(form) }} method="POST" novalidate="novalidate" data-article-id="{{ articleId }}" data-article-slug="{{ articleSlug }}" id="inck-article-article-form">
                {{ form_errors(form) }}

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading">
                            <h4 class="panel-title">
                                <a class="btn-tooltip" role="button" data-toggle="collapse" data-parent="#accordion" href="#article-header" aria-expanded="true" aria-controls="article-header" data-placement="right" data-container="body" title="Informations annexes">
                                    <i class="fa fa-caret-square-o-down"></i>
                                    En-tête de l'article
                                </a>
                            </h4>
                        </div>
                        <div id="article-header" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-8">
                                        {{ form_row(form.title) }}
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ form_row(form.categories) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_row(form.language) }}
                                            </div>
                                        </div>
                                        {{ form_row(form.tags) }}
                                        {{ form_row(form.summary) }}
                                        {% if app.user and is_granted('ROLE_ADMIN') %}
                                            {{ form_row(form.official) }}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        {{ form_row(form.imageFile) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section id="article-new-content">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.content) }}
                        </div>
                    </div>
                </section>

                <section id="article-new-actions">
                    {{ form_row(form.actions) }}
                    {{ form_row(form.anonymous) }}
                </section>

                <div class="hidden">
                    {{ form_rest(form) }}
                </div>
            </form>
        </article>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter='?uglifyjs2' output='js/compiled/article/article/form.js'
        '@summernote_js'
        'bundles/inckarticle/js/Article/form.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
