{% extends 'InckArticleBundle::layout.html.twig' %}

{% trans_default_domain 'ArticleBundle' %}

{% block title %}
    {% if action == 'add' %}
        {{ 'article.form.write_article'|trans }}
    {% else %}
        {{ 'article.form.edit_article'|trans }}
    {% endif %}
{% endblock %}
{% block description %}
    {% if action == 'add' %}
        <meta name="description" content="Partager un article en quelques cliques, il n'y a rien de plus simple !">
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/article/article/form.css'
        'bundles/inckarticle/css/Article/form.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'article.form.write_article'|trans }}</h1>
                    <p>{{ 'article.form.write_article_recap'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <article class="new">
            <p>
                <button class="btn btn-tooltip btn-inverse toggle-article-header" data-placement="right" data-toggle="tooltip" data-container="body" title="Réduire les informations annexes"></i>En-tête de l'article</button>
            </p>
            <form {{ form_enctype(form) }} method="POST" novalidate="novalidate" data-article-id="{{ articleId }}" id="inck-article-article-form">
                {{ form_errors(form) }}
                <div id="article-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="alert alert-default">
                                {{ form_row(form.title) }}
                                {{ form_row(form.summary) }}
                            </div>
                            <div class="alert alert-default">
                                {{ form_row(form.categories) }}
                                {{ form_row(form.tags) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="alert alert-default">
                                {{ form_row(form.imageFile) }}
                            </div>
                        </div>
                    </div>
                </div>
                <section id="article-new-content">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.content) }}
                        </div>
                    </div>
                </section>

                <section id="article-new-actions">
                    {{ form_row(form.actions) }}
                </section>

                <div class="hidden">
                    {{form_rest(form)}}
                </div>
            </form>
        </article>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter='?uglifyjs2' output='js/compiled/article/article/form.js'
        'bundles/inckarticle/js/Article/form.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}