{% extends 'InckArticleBundle::layout.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == 'inck_article_article_new' %}
        Écrire un article
    {% elseif app.request.attributes.get('_route') == 'inck_article_article_edit' %}
        Éditer mon article
    {% endif %}
{% endblock %}
{% block description %}
    {% if app.request.attributes.get('_route') == 'inck_article_article_new' %}
        <meta name="description" content="Partager un article en quelques cliques, il n'y a rien de plus simple !">
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='yui_css' filter='cssrewrite' output='css/compiled/article/article/form.css'
        'bundles/inckarticle/css/Article/form.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Écrire un article</h1>
                    <p>Un bon article n'est pas forcément long ou en rapport avec un sujet d'actualité. Laissez-vous simplement porter par l'envie d'écrire ce que bon vous semble intéressant à partager.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <article class="new">
            <form {{ form_enctype(form) }} method="POST">
                {% if form_errors(form) %}
                    <div class="alert alert-danger">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                <section id="article-new-header">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.title) }}
                            {{ form_row(form.summary) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_row(form.image, {'help' : 'Nous vous conseillons d\'utliser une image carrée'}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.categories) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_row(form.tags) }}
                        </div>
                    </div>

                </section>

                <section id="article-new-content">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.content) }}
                        </div>
                    </div>
                </section>

                <section id="article-new-actions">
                    {{ form_row(form.actions) }}
                </section>

                <div class="hidden">
                    {{form_rest(form)}}
                </div>
            </form>
        </article>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='yui_js' output='js/compiled/article/article/form.js'
        'bundles/inckarticle/js/Article/form.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}