{% extends 'InckArticleBundle::layout.html.twig' %}
{% trans_default_domain 'ArticleBundle' %}

{% block title %}{{ 'article.moderate.moderate_articles'|trans }}{% endblock %}
{% block description %}<meta name="description" content="Modérer un article, c'est faire appel à la communauté pour mettre en avant un contenu libre et de qualité. Vous êtes donc le moteur contribuant au développement de Inck">{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/article/article/moderate.css'
        'bundles/inckarticle/css/Article/timeline.css'
        'bundles/inckarticle/css/Article/summary.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'article.moderate.moderate_articles'|trans }}</h1>
            <p>{{ 'article.moderate.moderate_articles_recap'|trans }}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ render(controller('InckArticleBundle:Article:timeline', { 'filters': { 'type': 'in_moderation' } })) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output='js/compiled/article/article/moderate.js'
        'bundles/inckarticle/js/Article/timeline.js'
        'bundles/inckarticle/js/Article/watchLater.js'
        'bundles/inckarticle/js/Article/summary.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}