{% extends 'InckArticleBundle::layout.html.twig' %}
{% block xmlns %}xmlns:og="http://ogp.me/ns#"{% endblock %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}<meta name="description" content="{{ article.summary|slice(0, 157) }}{% if article.summary|length > 157 %}...{% endif %}">{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/article/article/show.css'
        'bundles/inckarticle/css/Article/show.css'
        'bundles/inckarticle/css/Article/summary.css'
        'bundles/inckarticle/css/Article/score.css'
        'bundles/inckuser/css/Profile/card.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{ article.title }}</h4>
                </div>
                <div class="modal-body text-center">
                    {% if article.imageName %}
                        <img class="img-responsive" src="{{ vich_uploader_asset(article, 'article_image') }}" alt="Image de l'article : {{ article.title }}">
                    {% else %}
                        {% image '@InckArticleBundle/Resources/public/images/article/default.jpg' %}
                        <img class="img-responsive" src="{{ asset_url }}" alt="Image par défaut"/>
                        {% endimage %}
                    {% endif %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="article-container">
        <article id="article-{{ article.id }}" class="article" itemscope itemtype="http://schema.org/Article">
            <header>
                <div class="jumbotron">
                    <div class="container">
                        <div class="article-title">
                            <h1 itemprop="name">{{ article.title }}</h1>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                <div class="article-categories article-tags">
                    <p>
                        {% for category in article.categories %}<a itemprop="genre" href="{{ path('inck_article_category_show', { 'id': category.id, 'slug': category.slug }) }}" class="btn btn-category btn-xs category">{{ category.name }}</a>{% endfor %}
                        {% for tag in article.tags %}<a href="{{ path('inck_article_tag_show', { 'id': tag.id, 'slug': tag.slug }) }}" class="btn btn-default btn-xs tag">{{ tag.name }}</a>{% endfor %}
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="article-summary">
                            <div class="callout callout-left">
                                <div class="article-image-preview">
                                    <a data-toggle="modal" data-target="#imageModal">
                                        {% if article.imageName %}
                                            <img itemprop="image" class="img-inline img-circle" src="{{ vich_uploader_asset(article, 'article_image')|apply_filter('article_thumb') }}" alt="Image de l'article : {{ article.title }}">
                                        {% else %}
                                            {% image '@InckArticleBundle/Resources/public/images/article/default.jpg' %}
                                                <img itemprop="image" class="img-inline img-circle" src="{{ asset_url|apply_filter('article_thumb') }}" alt="Image par défaut"/>
                                            {% endimage %}
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="description">
                                    <p itemprop="description">{{ article.summary }}</p>
                                    <div class="article-about">
                                        <p class="text-right">
                                            Rédigé par
                                            <a class="btn btn-xs btn-primary" itemprop="author" href="{{ path('fos_user_profile_preview', { 'username': article.author.username }) }}">{{ article.author.lastname and article.author.firstname ? article.author.firstname ~ ' ' ~ article.author.lastname : article.author.username }}</a>
                                            &ndash; publié le
                                            <time itemprop="datePublished" datetime="{{ article.publishedAt|date('Y-m-d') }}T{{ article.publishedAt|date('H:i') }}">{{ article.publishedAt|date('d/m/Y à H:i') }}</time>
                                            <a href="{{ path('inck_article_article_pdf', { 'id': article.id }) }}" class="btn btn-link btn-xs btn-tooltip btn-circle" data-toggle="tooltip" data-placement="top" target="blank" title="Télécharger en PDF" data-container="body"><i class="fa fa-file-pdf-o"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {{ render(controller('InckArticleBundle:Article:score', { article: article })) }}
                        </div>
                        <div class="article-content">
                            <section itemprop="articleBody text">
                                <div class="well">
                                    {{ article.content|raw }}
                                </div>
                            </section>
                        </div>
                        <div class="article-author" id="last">
                            <section>
                                {% include 'InckUserBundle:Profile:card.html.twig' with { user: article.author } %}
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <section>
                            <aside>
                                <div class="article-similar">
                                    {{ render(controller('InckArticleBundle:Article:featured', { article: article })) }}
                                </div>
                            </aside>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="article-comments">
                            <section>
                                <div id="disqus_thread"></div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div id="slidebox">
            <div class="panel panel-default">
                <a class="close-slidebox"><i class="fa fa-times"></i></a>
                <div class="panel-body text-center">
                    <h4>Venez nous suivre<br><small>sur les réseaux sociaux</small></h4>
                    <a href="#" class="btn btn-facebook btn-sm"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
                    <a href="#" class="btn btn-twitter btn-sm"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
                    <a href="#" class="btn btn-google btn-sm"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">var disqus_shortname = 'inck{{ app.environment }}';</script>

    {% javascripts filter='?uglifyjs2' output='js/compiled/article/article/show.js'
        'bundles/inckarticle/js/Article/show.js'
        'bundles/inckarticle/js/Article/score.js'
        'bundles/incksubscription/js/Subscription/new.js'
        'bundles/inckarticle/js/Article/disqus.js'
        'bundles/inckarticle/js/Article/affix.js'
        'bundles/inckarticle/js/Article/watchLater.js'
        'bundles/inckarticle/js/Article/summary.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <noscript>Merci d'activer JavaScript pour voir <a href="http://disqus.com/?ref_noscript">les commentaires propulsés par Disqus.</a></noscript>
{% endblock %}