{% extends 'InckArticleBundle::layout.html.twig' %}
{% block xmlns %}xmlns:og="http://ogp.me/ns#"{% endblock %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}<meta name="description" content="{{ article.summary|slice(0, 157) }}{% if article.summary|length > 157 %}...{% endif %}">{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/article/article/show.css'
        'bundles/inckarticle/css/Article/show.css'
        'bundles/inckarticle/css/Article/summary.css'
        'bundles/inckarticle/css/Article/social.css'
        'bundles/inckuser/css/Profile/card.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ article.title }}</h1>
                    {% if app.security.getToken().getUser() == article.author and article.asDraft %}
                        <a href="{{ path('inck_article_article_edit', { 'id': article.id } ) }}" class="btn btn-default">
                            Éditer
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <article id="article-{{ article.id }}" class="article" itemscope itemtype ="http://schema.org/Article">
            <div class="row">
                <div class="col-xs-8">
                    <section id="article-summary">
                        <div class="summary hidden-xs hidden-sm visible-md visible-lg">
                            {% include "InckArticleBundle:Article:summary.html.twig" %}
                        </div>
                        <div class="summary visible-xs visible-sm hidden-md hidden-lg">
                            {% include "InckArticleBundle:Article:thumbnail.html.twig" %}
                        </div>
                    </section>

                    <section id="article-content" itemprop="articleBody">
                        {{ article.content|raw }}
                    </section>

                    <section id="article-user" itemprop="creator">
                        {% include 'InckUserBundle:Profile:card.html.twig' with { user: article.author } %}
                    </section>

                    <section id="article-comments">
                        <div id="disqus_thread"></div>
                    </section>
                </div>
                <div id="article-social" class="col-xs-4">
                    <section data-clampedwidth=".col-xs-4" itemprop="additionalType" itemscope itemtype="http://schema.org/Action">
                        {{ render(controller('InckArticleBundle:Article:social', { article: article })) }}
                    </section>

                    <section data-clampedwidth=".col-xs-4">
                        {{ render(controller('InckArticleBundle:Article:featured', { article: article })) }}
                    </section>
                </div>
            </div>
        </article>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.environment == 'dev' %}
        <script type="text/javascript">
            var disqus_shortname = 'inckdev';
        </script>
    {% elseif app.environment == 'prod'%}
        <script type="text/javascript">
            var disqus_shortname = 'inckprod';
        </script>
    {% endif %}

    {% javascripts filter='?uglifyjs2' output='js/compiled/article/article/show.js'
        'bundles/inckarticle/js/Article/social.js'
        'bundles/incknotif/js/Subscription/new.js'
        'bundles/inckarticle/js/Article/disqus.js'
        'bundles/inckarticle/js/Article/affix.js'
        'bundles/inckarticle/js/Article/watchLater.js'
        'bundles/inckarticle/js/Article/summary.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <noscript>Merci d'activer JavaScript pour voir <a href="http://disqus.com/?ref_noscript">les commentaires propulsés par Disqus.</a></noscript>
{% endblock %}