{% extends 'InckArticleBundle::layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}<meta name="description" content="{{ article.summary|slice(0, 157) }}{% if article.summary|length > 157 %}...{% endif %}">{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='yui_css' filter='cssrewrite' output='css/compiled/article/article/show.css'
        'bundles/inckarticle/css/Article/show.css'
        'bundles/inckarticle/css/Article/summary.css'
        'bundles/inckarticle/css/Article/social.css'
        'bundles/inckuser/css/Profile/card.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ article.title }}</h1>
                    {% if app.security.getToken().getUser() == article.author and article.asDraft %}
                        <a href="{{ path('inck_article_article_edit', { 'id': article.id } ) }}" class="btn btn-default">
                            Éditer
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <article id="article-{{ article.id }}" class="article" itemscope itemtype ="http://schema.org/Article">
            <div class="row">
                <div class="col-xs-8">
                    <section id="article-summary">
                        {% include('InckArticleBundle:Article:summary.html.twig') %}
                    </section>

                    <section id="article-content" itemprop="articleBody">
                        {{ article.content|raw }}
                    </section>

                    <section id="article-user" itemprop="creator">
                        {% include 'InckUserBundle:Profile:card.html.twig' with { user: article.author } %}
                    </section>
                </div>
                <div class="col-xs-4">
                    <section id="article-social" itemprop="additionalType" itemscope itemtype="http://schema.org/Action">
                        {% include('InckArticleBundle:Article:social.html.twig') %}
                    </section>
                </div>
            </div>
        </article>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% javascripts filter='yui_js' output='js/compiled/article/article/connected.js'
            'bundles/inckarticle/js/Article/social/connected.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts filter='yui_js' output='js/compiled/article/article/connected.js'
            'bundles/inckarticle/js/Article/social/disconnected.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}