{% extends 'InckArticleBundle::layout.html.twig' %}
{% trans_default_domain 'ArticleBundle' %}

{% block xmlns %}xmlns:og="http://ogp.me/ns#"{% endblock %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}<meta name="description" content="{{ article.summary|slice(0, 157) }}{% if article.summary|length > 157 %}...{% endif %}">{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/article/article/show.css'
        'bundles/inckarticle/css/Article/show.css'
        'bundles/inckarticle/css/Article/summary.css'
        'bundles/inckarticle/css/Article/score.css'
        'bundles/inckuser/css/Profile/card.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block navbar %}
    <div class="article-progress">
        <span id="article-progress-bar"></span>
    </div>
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="article-container">
        <article id="article-{{ article.id }}" class="article" itemscope itemtype="http://schema.org/Article">
            <header>
                <div class="jumbotron">
                    <div class="container">
                        <div class="article-title">
                            <h1 itemprop="name">{{ article.title }}</h1>
                        </div>
                        <p class="about">{{ 'article.show.writen_by'|trans }} <a class="btn-link" itemprop="author" href="{{ path('fos_user_profile_preview', { 'username': article.author.username }) }}">{{ article.author.lastname and article.author.firstname ? article.author.firstname ~ ' ' ~ article.author.lastname : article.author.username }}</a> &ndash; {{ 'article.show.published_the'|trans }} <time itemprop="datePublished" datetime="{{ article.publishedAt|date('Y-m-d') }}T{{ article.publishedAt|date('H:i') }}">{{ article.publishedAt|date('d/m/Y à H:i') }}</time></p>
                    </div>
                </div>
            </header>
            {% include('base/messages.html.twig') %}
            <div class="container">
                <div class="article-categories article-tags">
                    <p>
                        {% for category in article.categories %}<a itemprop="genre" href="{{ path('inck_article_category_show', { 'id': category.id, 'slug': category.slug }) }}" class="btn btn-category btn-xs category">{{ category.name|trans|trans }}</a>{% endfor %}
                        {% for tag in article.tags %}<a href="{{ path('inck_article_tag_show', { 'id': tag.id, 'slug': tag.slug }) }}" class="btn btn-default btn-xs tag">{{ tag.name }}</a>{% endfor %}
                        <a href="{{ path('inck_article_article_pdf', { 'id': article.id, 'slug': article.slug }) }}" class="btn btn-default btn-circle btn-xs btn-tooltip" data-toggle="tooltip" data-placement="right" title="Télécharger en PDF" data-container="body"><i class="fa fa-file-pdf-o"></i></a>
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="article-content">
                            <section itemprop="articleBody text">
                                <div class="thumbnail">
                                    {% if article.imageName %}
                                        <img itemprop="image" src="{{ vich_uploader_asset(article, 'article_image')|apply_filter('article_thumb') }}" alt="Image de l'article : {{ article.title }}">
                                    {% else %}
                                        {% image '@InckArticleBundle/Resources/public/images/article/default.jpg' %}
                                        <img src="{{ asset_url|apply_filter('article_thumb') }}" alt="Image par défaut"/>
                                        {% endimage %}
                                    {% endif %}
                                    {{ render(controller('InckArticleBundle:Article:score', { article: article })) }}
                                    <div class="caption">
                                        <p itemprop="description"><strong>{{ article.summary }}</strong></p>
                                        {{ article.content|raw }}
                                        <hr>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <p>
                                                    {% set currentUrl = app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ '/article/' ~ article.id ~ '/' ~ article.slug ~ '/' ~ (article.publishedAt ? article.publishedAt|date('Y-m-d') : article.createdAt|date('Y-m-d')) %}
                                                    <a class="btn btn-facebook btn-sm btn-tooltip" title="Partager sur Facebook" data-container="body" data-placement="top" href="https://www.facebook.com/sharer/sharer.php?u={{ currentUrl }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                                                        <i class="fa fa-facebook fa-fw"></i>
                                                    </a>
                                                    <a class="btn btn-sm btn-google btn-tooltip" title="Partager sur Google +" data-container="body" data-placement="top" href="https://plus.google.com/share?url={{ currentUrl }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                                                        <i class="fa fa-google-plus fa-fw"></i>
                                                    </a>
                                                    <a class="btn btn-sm btn-twitter btn-tooltip" title="Twitter cet article" data-container="body" data-placement="top" href="https://twitter.com/share?text={{ article.title|url_encode }}&amp;hashtags={% for category in article.categories %}{{ category.name|trans }}{% if not loop.last %},{% endif %}{% endfor %}&amp;url={{ currentUrl }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                                                        <i class="fa fa-twitter fa-fw"></i>
                                                    </a>
                                                    <a class="btn btn-sm btn-linkedin btn-tooltip" title="Partager sur Linkedin" data-container="body" data-placement="top" href="http://www.linkedin.com/shareArticle?mini=true&url={{ currentUrl }}&title={% if article.title|url_encode|length > 200 %}{{ article.title|url_encode|slice(0, 197) }}...{% else %}{{ article.title|url_encode }}{% endif %}&summary={% if article.summary|url_encode|length > 200 %}{{ article.summary|url_encode|slice(0, 197) }}...{% else %}{{ article.summary|url_encode }}{% endif %}&source=Inck" onclick="window.open(this.href, 'linkedIn-share', 'width=550,height=235');return false;">
                                                        <i class="fa fa-linkedin fa-fw"></i>
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="col-xs-3">
                                                <p class="text-right">
                                                    <a class="btn btn-default btn-sm btn-tooltip" title="Voir les statisitiques détaillées de l'article" data-container="body" data-placement="top" ><i class="fa fa-line-chart"></i><span class="hidden-xs visible-md-inline visible-lg-inline"> {{ 'article.show.statistics'|trans }}</span></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div id="last" class="article-author">
                            <section>
                                {% include 'InckUserBundle:Profile:card.html.twig' with { user: article.author } %}
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <section>
                            <aside>
                                <div class="article-similar">
                                    {{ render(controller('InckArticleBundle:Article:featured', { article: article })) }}
                                </div>
                            </aside>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="comments" class="article-comments">
                            <section>
                                <div id="disqus_thread"></div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div id="slidebox">
            <div class="panel panel-default">
                <a class="close-slidebox"><i class="fa fa-times"></i></a>
                <div class="panel-body text-center">
                    <h4>
                        {{ 'article.show.follow_us'|trans }}
                        <br>
                        <small>
                            {{ 'article.show.social_networks'|trans }}
                        </small>
                    </h4>
                    <a href="{{ inck_social_facebook }}" class="btn btn-facebook btn-sm">
                        <i class="fa fa-facebook"></i>
                        Facebook
                    </a>
                    <a href="{{ inck_social_twitter }}" class="btn btn-twitter btn-sm">
                        <i class="fa fa-twitter"></i>
                        Twitter
                    </a>
                    <a href="{{ inck_social_google_plus }}" class="btn btn-google btn-sm">
                        <i class="fa fa-google-plus"></i>
                        Google+
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">var disqus_shortname = 'inck{{ app.environment }}';</script>

    {% javascripts filter='?uglifyjs2' output='js/compiled/article/article/show.js'
        'bundles/inckarticle/js/Article/show.js'
        'bundles/inckarticle/js/Article/score.js'
        'bundles/incksubscription/js/Subscription/new.js'
        'bundles/inckarticle/js/Article/disqus.js'
        'bundles/inckarticle/js/Article/watchLater.js'
        'bundles/inckarticle/js/Article/summary.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <noscript>{{ 'article.show.activate_js'|trans }}<a href="http://disqus.com/?ref_noscript">{{ 'article.show.comments'|trans }}</a></noscript>
{% endblock %}