<div class="score">
    {% set displayProgress = score.total > 0 %}
    <div class="progress {% if not displayProgress %}hidden{% endif %}" data-score-total="{{ score.total }}">
        {% set widthUp = score.total == 0 ? 0 : score.up / score.total * 100 %}
        <div class="progress-bar progress-bar-success score-up" style="width: {{ widthUp }}%;" data-score-up="{{ score.up }}">
            <span>{{ score.up }}</span> <i class="fa fa-thumbs-up"></i>
        </div>
        {% set widthDown = score.total == 0 ? 0 : score.down / score.total * 100 %}
        <div class="progress-bar progress-bar-danger score-down" style="width: {{ widthDown }}%;" data-score-down="{{ score.down }}">
            <span>{{ score.down }}</span> <i class="fa fa-thumbs-down"></i>
        </div>
    </div>
    <div class="no-progress {% if displayProgress %}hidden{% endif %}">
        <p>Personne n'a encore voté, soyez le premier !</p>
    </div>
</div>

<div class="votes" itemscope itemtype="http://schema.org/Action">
    <p>
        <span {% if app.user %}class="btn-group btn-group-xs"{% else %}class="btn-group btn-group-xs btn-tooltip" data-toggle="tooltip" data-placement="right" title="Connectez-vous pour voter"{% endif %}>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% set votedUp = vote is not null and vote.up %}
                <button class="btn btn-success vote-up {% if votedUp %}voted{% endif %}">
                    {% if votedUp %}
                        <i class="fa fa-check"></i>
                    {% else %}
                        <i class="fa fa-thumbs-up"></i>
                    {% endif %}
                </button>
                {% set votedDown = vote is not null and not vote.up %}
                <button class="btn btn-danger vote-down {% if votedDown %}voted{% endif %}">
                {% if votedDown %}
                    <i class="fa fa-check"></i>
                {% else %}
                    <i class="fa fa-thumbs-down"></i>
                {% endif %}
            </button>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-success">
                    <i class="fa fa-thumbs-up"></i>
                </a>
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-danger">
                    <i class="fa fa-thumbs-down"></i>
                </a>
            {% endif %}
        </span>
    </p>
</div>