{% trans_default_domain 'ArticleBundle' %}

{% if app.request.attributes.get('_route') == 'inck_article_article_show' %}
    {% set articleUrl = '#content' %}
{% else %}
    {% set articleUrl = path('inck_article_article_show', { 'id': article.id, 'slug': article.slug}) %}
{% endif %}
{% if article.imageName %}
    {% set imgSrc = vich_uploader_asset(article, 'article_image')|apply_filter('article_thumb') %}
{% else %}
    {% image '@InckArticleBundle/Resources/public/images/article/default.jpg' %}
        {% set imgSrc = asset_url|apply_filter('article_thumb') %}
    {% endimage %}
{% endif %}

<div class="thumbnail">
    <a href="{{ articleUrl }}" class="img-article">
        <img itemprop="image" src="{{ imgSrc }}" alt="Image de l'article : {{ article.title }}">
    </a>
    {{ render(controller('InckArticleBundle:Article:score', { article: article })) }}
    <div class="caption">
        <h3 itemprop="name">
            <a href="{{ articleUrl }}">{{ article.title }}</a>
        </h3>
        <p class="about">
            {% if article.anonymous %}
            {{ 'article.show.writen_by'|trans }} Anonymous &ndash; {{ 'article.show.published_the'|trans }} <time itemprop="datePublished" datetime="{{ article.publishedAt|date('Y-m-d') }}T{{ article.publishedAt|date('H:i') }}">{{ article.publishedAt|date('d/m/Y à H:i') }}</time>
            <a href="{{ path('inck_article_article_pdf', { 'id': article.id, 'slug': article.slug }) }}" class="btn btn-link btn-xs btn-tooltip btn-circle" data-toggle="tooltip" data-placement="top" title="Télécharger en PDF" data-container="body"><i class="fa fa-file-pdf-o"></i></a>
            {% else %}
            {{ 'article.show.writen_by'|trans }} <a class="btn btn-primary btn-xs" itemprop="author" href="{{ path('fos_user_profile_preview', { 'username': article.author.username }) }}">{{ article.author.lastname and article.author.firstname ? article.author.firstname ~ ' ' ~ article.author.lastname : article.author.username }}</a> &ndash; {{ 'article.show.published_the'|trans }} <time itemprop="datePublished" datetime="{{ article.publishedAt|date('Y-m-d') }}T{{ article.publishedAt|date('H:i') }}">{{ article.publishedAt|date('d/m/Y à H:i') }}</time>
            <a href="{{ path('inck_article_article_pdf', { 'id': article.id, 'slug': article.slug }) }}" class="btn btn-link btn-xs btn-tooltip btn-circle" data-toggle="tooltip" data-placement="top" title="Télécharger en PDF" data-container="body"><i class="fa fa-file-pdf-o"></i></a>
            {% endif %}
        </p>
        <p itemprop="description">{{ article.summary }}</p>
        <p class="categories tags">
            {% for category in article.categories %}
                <a itemprop="genre" href="{{ path('inck_article_category_show', { 'id': category.id, 'slug': category.slug }) }}" class="btn btn-category btn-xs category">{{ category.name|trans }}</a>
            {% endfor %}
            {% for tag in article.tags %}
                <a href="{{ path('inck_article_tag_show', { 'id': tag.id, 'slug': tag.slug }) }}" class="btn btn-default btn-xs">{{ tag.name }}</a>
            {% endfor %}
            {% if article.official %}
                <span class="label label-default btn-tooltip" data-toggle="tooltip" data-placement="top" title="Annonce officielle" data-container="body"><i class="fa fa-certificate"></i> Officiel</span>
            {% endif %}
        </p>
    </div>
</div>

<meta itemprop="keywords" content="{% for tag in article.tags %}{{ tag.name }}{% if loop.last == false %},{% endif %}{% endfor %}"/>
