<div id="timeline" class="container">
    <p>
        <button class="btn btn-inverse toggle-filter"><i class="fa fa-filter"></i> Filtrer les articles</button>
        <span id="articles-total" class="label label-primary">
            <span>{{ totalArticles }}</span> résultat{% if totalArticles|length > 1 %}s{% endif %}
        </span>
    </p>
    <div id="filters">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-default">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}

                        <div class="row">
                            <div class="col-xs-6">
                                {{ form_row(form.categories) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_row(form.tags) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                {{ form_row(form.authors) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_row(form.order) }}
                            </div>
                        </div>

                        {{ form_row(form.actions) }}

                        <div class="hidden">
                            {{form_rest(form)}}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var selectedFilters = '{{ selected|json_encode()|raw }}';
    </script>
    <br>
    {% include 'InckArticleBundle:Article:filter.html.twig' with { 'articles': articles, 'totalArticles': totalArticles, 'totalPages': totalPages } %}
    <div class="row">
        <div class="col-sm-8">
            {% set hidden = (totalPages <= 1) ? 'hidden' : '' %}
            <button id="timeline-next-page" class="btn btn-inverse btn-lg btn-block {{ hidden }}">
                <i class="fa fa-plus"></i>
                Afficher plus d'articles
            </button>
        </div>
    </div>
</div>