{% extends "InckUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Badge edit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/user/badge/form.css'
    'bundles/inckuser/css/Badge/badge.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Edition de badge</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content -%}
    <div class="container ">

            {{ form(edit_form) }}

            <ul class="record_actions">
                <li>
                    <a href="{{ path('inck_core_admin_index') }}">
                        Retour à l'administration
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
    </div>
{% endblock %}


