{% extends "InckUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Badge{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1><span class="label label-default" style="background-color: {{ entity.color }};">
                            <span style="color: {{ entity.colorText }}"><i class="fa fa-{{ entity.icone }}"></i> | {{ entity.title }}</span></span></h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">

                    <div class="panel-heading">

                        <h3 class="panel-title">Identité</h3>

                    </div>

                    <div class="panel-body">
                        <table class="record_properties">
                            <tbody>
                            <tr>
                                <th>Importance : </th>
                                <td>{{ entity.lvl }}</td>
                            </tr>
                            <tr>
                                <th>Titre : </th>
                                <td>{{ entity.title }}</td>
                            </tr>
                            <tr>
                                <th>Description : </th>
                                <td>{{ entity.description }}</td>
                            </tr>
                            <tr>
                                <th>Date de création : </th>
                                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">

                    <div class="panel-heading">

                        <h3 class="panel-title">Utilisateurs</h3>

                    </div>

                    <div class="panel-body">
                        <ul>
                            {% for baduser in entity.users %}
                                <li>{{ baduser.username }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editmember">Ajouter des utilisateurs</button>

                        <!-- Modal -->
                        <div id="editmember" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Ajouter des membres</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ render(controller('InckUserBundle:Badge:memberedit', { 'id': entity.id })) }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">

                    <div class="panel-heading">

                        <h3 class="panel-title">Actions</h3>

                    </div>

                    <div class="panel-body">
                        <ul class="record_actions">
                            <li>
                                <a href="{{ path('inck_core_admin_index') }}" class="btn btn-primary">
                                    Retour à l'administration
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('badge_edit', { 'id': entity.id }) }}" class="btn btn-primary">
                                    Editer
                                </a>
                            </li>
                            <li>{{ form(delete_form) }}</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
